<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">Time Punches History</h1>
      <div class="title-header-right d-flex justify-con align-c">
        <form
          autocomplete="off"
          class="form-section"
          [formGroup]="FilterTimePunches"
        >
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Search..</mat-label>
                <input
                  matInput
                  placeholder="Search...."
                  (keyup)="SearchingChecks($event)"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Pay Period</mat-label>
                <mat-select
                  formControlName="payPeriodId"
                  (selectionChange)="OnPayPeriodSelect($event)"
                >
                  <mat-option [value]="0">Select Pay Period</mat-option>
                  <mat-option
                    *ngFor="let list of PeriodList"
                    [value]="list.payPeriodId"
                  >
                    {{ list.payPeriodName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <mat-select
                  formControlName="employeeID"
                  (selectionChange)="OnEmployeeSelect($event)"
                >
                  <mat-option [value]="0">Select Employee</mat-option>
                  <mat-option
                    *ngFor="let list of employeedropdownlist"
                    [value]="list.employeeID"
                  >
                    {{ list.employeeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--end of title header-->

    <div class="panel">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="EmployeeSource"
          matSort
          style="width: 100%"
          class="table table-striped table-cus "
          matSortDirection="asc" matSortDisableClear
        >
          <ng-container matColumnDef="TypeCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.TypeCode }}</td>
          </ng-container>
          <ng-container matColumnDef="PayPeriodName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Period Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.PayPeriodName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee No.
            </th>
            <td mat-cell *matCellDef="let element">{{ element.Number }}</td>
          </ng-container>

          <ng-container matColumnDef="EmployeeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.EmployeeName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SocSec">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Soc. Sec.</th>
            <td mat-cell *matCellDef="let element">{{ element.SocSec }}</td>
          </ng-container>

          <ng-container matColumnDef="CheckNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Check No.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.CheckNumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="HourlyRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Hourly Rate($)
            </th>
            <td mat-cell *matCellDef="let element">{{ element.HourlyRate }}</td>
          </ng-container>

          <ng-container matColumnDef="Hours">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
            <td mat-cell *matCellDef="let element">{{ element.Hours }}</td>
          </ng-container>
          <ng-container matColumnDef="HoursClock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hrs Clock</th>
            <td mat-cell *matCellDef="let element">{{ element.HoursClock }}</td>
          </ng-container>
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount($)</th>
            <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
          </ng-container>

          <ng-container matColumnDef="InDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>In Time</th>
            <td mat-cell *matCellDef="let element">{{ element.InDateTime }}</td>
          </ng-container>

          <ng-container matColumnDef="OutDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Out Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.OutDateTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="RefereceDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
            <td mat-cell *matCellDef="let element">
              {{ element.RefereceDay }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ReferenceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ReferenceDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="OvertimeMultiplier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ovt.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.OvertimeMultiplier }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <div
        style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;"
        *ngIf="noData | async"
        class="no-records"
      >
        No records found
      </div>
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>

    <!--end of table-->
  </div>
</div>
<!-- </div> -->
<!-- popup start -->
