
@import "../../../../assets/scss/variable.scss";
.mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
.table-responsive{
    .table-cus{
        min-width: 1550px;
    }
}
.mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }
  .title-header-right{
    ::ng-deep .mat-form-field{
      .mat-form-field-wrapper{
        padding-bottom: 0;
        .mat-form-field-outline{
          background-color: $white-color;
        }
      }
    }
  }