<div *ngIf="Check == false">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="Check == true">
 
    <div class="popup-header">
      <h1 class="popup-title-main">
        {{ EmployeeName }} ({{ EmployeeNo }}) Time Punches
      </h1>
      <mat-dialog-actions class="popupclose">  
          <button mat-raised-button [mat-dialog-close]="true"><i class="fa fa-times" aria-hidden="true"></i></button>  
      </mat-dialog-actions>
    </div>
    <!--end of title header-->
 
<div class="popup-cover-main">
  <div class="panel-table">
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="EmployeeTimePunchesSource"
        matSort
        class="table table-striped table-cus "
      >
        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.Type }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Date | date: "MM/dd/yyyy" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Day">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Date | date: "EEEE" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="IN">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>In Time</th>

          <td mat-cell *matCellDef="let element">
            <div class="12hr-example">
              <input
                placeholder="24hr format (default settings)"
                aria-label="24hr format"
                [ngxTimepicker]="max"
                readonly
                [(ngModel)]="element.IN"
                [format]="24" 
                [max]=element.Out
              />

              <ngx-material-timepicker
                #default  #max
                
              ></ngx-material-timepicker>
              <!-- (closed)="OnblurMethod(element)" (timeSet)=" getHoursDiff(element)" -->
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Out">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Out Time</th>
          <td mat-cell *matCellDef="let element">
            <input
              placeholder="24hr format (default settings)"
              aria-label="24hr format"
              [ngxTimepicker]="min"
              readonly
              [format]="24" 
              [(ngModel)]="element.Out"
              [min]="element.IN"
             
            />

            <ngx-material-timepicker
              #min
              
            ></ngx-material-timepicker>
            <!-- (closed)="OnblurMethod(element)" (timeSet)="getHoursDiff(element)" -->
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="Hrsclock">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hrs clock</th>
          <td mat-cell *matCellDef="let element">
            <!-- <input readonly value="{{ element.Hrsclock }}" /> -->
            {{getHoursDiff(element)}}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{getHoursClock()}}</td>
        </ng-container>
        <ng-container matColumnDef="Hours">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hours</th>
          <td mat-cell *matCellDef="let element">
            <input  numeric numericType="decimal" [(ngModel)]="element.Hours" (blur)="OnblurMethod(element)" />
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ getHoursSum() }}</td>
        </ng-container>
        <ng-container matColumnDef="HourRate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hour Rate($)</th>
          <td mat-cell *matCellDef="let element">
            <input  numeric numericType="decimal"
              [(ngModel)]="element.HourlyRate"
              (blur)="OnblurMethod(element)"
            />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="OVT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ovt.</th>
          <td mat-cell *matCellDef="let element">
            <input  numeric numericType="decimal" [(ngModel)]="element.OVT" (blur)="OnblurMethod(element)" />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount($)</th>
          <td mat-cell *matCellDef="let element">
            {{ getAmount(element) }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ getTotalAmount() }}</td>
        </ng-container>
        
        <!-- <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element">
            <span class="add-punch"
              ><i class="fa fa-pencil" aria-hidden="true"></i
            ></span>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="SubdisplayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: SubdisplayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="SubdisplayedColumns" ></tr>
      </table>
    </div>
  </div>
  </div>
  <!-- <button type="button" (click)="onSave()"></button> -->
</div>
