@import "../../../../assets/scss/variable.scss";
.mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .table-responsive{
    table{
      tr{
        td{
          input{
            width:90px;
            border: 1px solid $input-border-color;
          }
        }
      }
    }
  }

  tr.mat-footer-row {
    font-weight: bold;
  }