/***common style***/
body {
  background-color: $body-bg;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.justify-con {
  justify-content: space-between;
}
.align-c {
  align-items: center;
}
input,
select,
textarea {
  @include border-radius(4px);
  font-family: "Roboto", sans-serif;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $gradient-pink !important;
}

/***common style for dashboard cover***/
.main-content-cover {
  padding-left: 240px;
  padding-top: 66px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.content-main {
  padding-top: 26px;
  padding-left: 30px;
  padding-right: 30px;
}
.title-header {
  margin-bottom: 15px;
}
.page-title {
  color: $dark-b-color;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.title-header-right {
  .search {
    position: relative;
    input {
      @include border-radius(4px);
      border: 1px solid $input-border-color;
      height: 43px;
      width: 290px;
      padding: 0 15px 0 40px;
      font-size: 14px;
    }
    .search-icon {
      position: absolute;
      left: 15px;
      height: 23px;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $light-grey;
    }
  }
}

.add-btn {
  background: transparent linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%) 0% 0% no-repeat padding-box;
  color: $white-color !important;
  font-size: 14px;
  height: 43px;
  line-height: 43px;
  border:0px;
  @include border-radius(4px);
  margin-left: 20px;
  padding: 0 20px;
  @include transition(all, 0.5s, ease);
  cursor: pointer;
  &:hover {
    color: $white-color;
    background: transparent linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%) 0% 0% no-repeat
      padding-box;
  }
  .fa {
    margin-right: 10px;
  }
}
.panel {
  background-color: $white-color;
  @include border-radius(4px);
  @include box-shadow(0px, 4px, 8px, $light-box-shadow);
  padding: 30px;
  margin: 30px 0;
  .panel-heading {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
    h2 {
      font: 500 18px/20px "Roboto";
      color: $dark-b-color;
      margin-bottom: 30px;
      float: left;
      width: auto;
    }
    i {
      float: right;
      right: 0;
      cursor: pointer;
    }
    :after {
      width: 100%;
      background: #dedee4;
      box-shadow: 0px 4px 8px #0000000a;
      border-radius: 4px;
      height: 1px;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
.table-cus {
  font-size: 14px;
  margin-bottom: 0;
  thead {
    tr {
      th {
        background-color: $table-header-bg;
        border: 0px;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $white-color;
      }
    }
  }
  .action-btn {
    cursor: pointer;
    .dropdown-toggle {
      display: inline-block;
      padding: 0 15px;
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      li {
        a {
          display: block;
          padding: 5px 15px;
          color: $menu-hover;
          font-size: 14px;
          &:hover {
            background-color: $menu-hover;
            color: $white-color;
          }
        }
      }
    }
  }
  .pay-period {
    color: $green-color;
  }
}

.dropdown-section {
  @include border-radius(4px);
  border: 1px dashed $input-border-color;
  background-color: $body-bg;
  position: relative;
  margin-bottom: 15px;
  padding: 8px 10px 8px 60px;
  .drag-icon {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .drodown-list {
    background-color: $drag-list-bg;
    @include border-radius(50px);
    font-size: 14px;
    color: $dark-b-color;
    padding: 5px 10px;
    .fa {
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
.pagination {
  ul {
    li {
      a {
        @include border-radius(4px);
        border: 1px solid $input-border-color;
        display: inline-block;
        padding: 3px 10px;
        margin-right: 5px;
        color: $primary-text-color;
        font-size: 14px;
        &:hover {
          background-color: $menu-hover;
          color: $white-color;
        }
      }
      &.active {
        a {
          background-color: $menu-hover;
          color: $white-color;
        }
      }
    }
  }
}
//added
th.mat-sort-header-sorted {
  color: black;
}

.add-punch{
  width:24px;
  height:24px;
  @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
  display: inline-block;
  @include border-radius(100%);
  color:$white-color;
  text-align: center;
  position: relative;
  cursor: pointer;
  line-height: 24px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  .fa{
      font-size: 12px;
      line-height: normal;
      cursor: pointer;
  }
  &:hover{
      @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
  }
  &.show{
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      transform: rotate(225deg);
  }
}
.table-responsive{
  table{
    tr{
      td{
        input{
          padding: 0 10px;
          height: 33px;
          border: 1px solid $input-border-color; 
        }
      }
    }
  }
}


// mat form feild custom height
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
  width: 2em !important;
  height: 2em !important;
}
.mat-form-field{
  &.mat-form-field-appearance-outline  {
    .mat-form-field-infix{
      padding: 0.6em 0 0.9em 0;
      border-top: 3px solid transparent;
    }
    .mat-form-field-label-wrapper{
      font-size: 14px;
      top: -0.6em;
    }
    .mat-form-field-suffix{
      top: .6em;
      .mat-icon-button{
        width: 2em;
        height: 2em;
      }
    }
    .mat-select-arrow-wrapper{
      transform: translateY(15%);
    }
  }
  
}
.mat-select-panel-wrap{
  .mat-select-panel{
    .mat-option{
      line-height: 2.5em;
      height: 2.5em;
      .mat-option-text{
        font-size: 14px;
      }
    }
  }
}

.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.5em) scale(0.75);
}
.mat-form-field{
  .mat-input-element{
    font-size: 14px;
  }
  .mat-select-value-text{
    font-size: 14px;
  }
}

// mat table style
.table-responsive{
  .table-cus {
    .mat-header-row{
      height:43px;
      .mat-header-cell{
        padding: 5px 10px;
      }
    }
    .mat-row {
      height: 43px;
      .mat-cell{
        padding: 5px 10px;
      }
    }
    .mat-footer-row{
      background-color: #f5f5f7;
      height:43px;
      .mat-footer-cell{
        padding: 5px 10px;
        vertical-align: middle;
      }
    }
  }
}

// mat spinner
.mat-dialog-container{
.mat-progress-spinner{
  width:50px !important;
  height:50px !important;
  svg{
    width:50px !important;
  height:50px !important;
  }
}
}

// popup
.cdk-global-overlay-wrapper{
  align-items: flex-start !important;
  padding-top: 66px;
}
.popup-cover-main {
  height: auto;
  max-height: 62vh;
  overflow: auto;
  .sub-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    @extend %gradient-color;
    padding: 8px 15px;
  }
  .custom-row-popup {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eaeaea;
      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      label{
        color: #3a3a3a;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 1px;
      }
      p {
        font-size: 14px;
        color: #5a5a5a;
      }
  }
}
.edit-cover-main {
  height: auto;
  max-height: 62vh;
  //overflow: auto;
  .sub-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    @extend %gradient-color;
    padding: 8px 15px;
  }
  .custom-row-popup {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eaeaea;
      &:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      label{
        color: #3a3a3a;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 1px;
      }
      p {
        font-size: 14px;
        color: #5a5a5a;
      }
  }
}
.popup-header{
  position: relative;
  .popup-title-main {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width:100%;
      bottom: 0;
      left: 0;
      height:2px;
      @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
    }
  }
  .popupclose {
    position: absolute;
    right:0;
    top:-13px;
    .mat-raised-button{
      box-shadow: none;
      padding: 0 15px;
      width: auto;
      min-width: unset;
    }
  }
}


// navbar slides
.slidenav{
  .main-content-cover{
    padding-left:67px;
  }
}
.slidenav{
  .sidebar-main{
      width:67px !important;
      .sidebar-menu{
        li{
          a{
            .menu-link{
              margin-left: -5px;
              opacity: 0;
            }
          }
        }
      }
    }
  }