
<div class="login-cover-main">
    <div class="login-container">
        <div class="login-inner">
            <h1 class="login-logo"> <a [routerLink]="['/signUp']" style="cursor: pointer"> <img src="/assets/img/logo-icon.svg" alt="logo"></a></h1>
            <p class="login-text">Please login to continue</p>
            <div class="login-box">
                <div class="login-bocx-inner">
                    <form class="example-form" [formGroup]="LoginForm" autocomplete="off" (ngSubmit)="OnFormSubmit(LoginForm.value)">
                        <div class="mat-login-row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="Username">
                                <mat-error *ngIf="LoginForm.get('Username').hasError('required')">
                                    User name is Required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mat-login-row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Password</mat-label>
                                <input matInput type="Password" placeholder="Password" formControlName="Password">
                                <mat-error *ngIf="LoginForm.get('Password').hasError('required')">
                                    Password is Required!
                                </mat-error>
                            </mat-form-field>
                         </div>
                        <div class="login-checkbox">
                            <mat-checkbox>Check me!</mat-checkbox>
                        </div>
                        <div class="login-submit-btn">
                            <button mat-button type="submit">LOGIN</button>
                        </div>
                        <div class="forget-pwd">
                            <a href="#">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>