<div *ngIf="Check == false">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="Check == true">
    <div class="popup-header">
        <h1  class="popup-title-main">View Employee</h1>
        <mat-dialog-actions class="popupclose">  
            <button mat-raised-button [mat-dialog-close]="true"><i class="fa fa-times" aria-hidden="true"></i></button>  
        </mat-dialog-actions>
    </div>
     <div class="popup-cover-main">
            <div class="col-md-12">

                <div class="row custom-row-popup">

                    <h2 class="sub-title col-md-12">Basic Details:</h2>
                    <div class="col-md-3">
                        <label>Employee Name</label>
                        <p> {{EmployeeName}} ({{EmployeeNumber}})</p>
                    </div>
                  

                    <div class="col-md-3">           
                        <label> Soc Sec</label>
                        <p> {{SocSec}}</p>
                    </div>
                  

                    <div class="col-md-3">           
                        <label> DOB:</label>
                        <p> {{BirthDate}}</p>
                    </div>

                    <div class="col-md-3">           
                        <label> Joining Date:</label>
                        <p> {{JoiningDate}}</p>
                    </div>

                    <div class="col-md-3">           
                        <label> Gender:</label>
                        <p> {{Gender}}</p>
                    </div>
                    
                    <div class="col-md-3">           
                        <label> Race:</label>
                        <p> {{RaceName}}</p>
                    </div> 

                    <div class="col-md-3">           
                        <label> Marital Status:</label>
                        <p> {{MaritalStatus}}</p>
                    </div>   
                </div>
                <div class="row custom-row-popup">
                    <h2 class="sub-title col-md-12">Personal Details:</h2>
                                 

                           

                    <div class="col-md-3">           
                        <label> City:</label>
                        <p> {{CityId}}</p>
                    </div>
                

                    <div class="col-md-3">           
                        <label> State:</label>
                        <p> {{StateName}}</p>
                    </div>
               
                    <div class="col-md-3">           
                        <label> Country:</label>
                        <p> {{CountryName}}</p>
                    </div>    
                    <div class="col-md-3">           
                        <label> Head Of Household:</label>
                        <p> {{HeadOfHousehold}}</p>
                    </div>
                

                    <div class="col-md-3">           
                        <label> Blind:</label>
                        <p> {{Blind}}</p>
                    </div>
               
                    <div class="col-md-3">           
                        <label> Student:</label>
                        <p> {{Student}}</p>
                    </div>                    
                </div>
                <div class="row custom-row-popup">                 
                <h2 class="sub-title col-md-12">Salary Details:</h2>
                    <div class="col-md-3">           
                        <label> Hourly Rate:</label>
                        <p> ${{HourlyPayRate}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label> Hours:</label>
                        <p> {{Hours}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label> Pay Frequency:</label>
                        <p> {{PeriodName}}</p>
                    </div>

                    <div class="col-md-3">           
                        <label> Total Salary:</label>
                        <p> ${{BasicSalary}}</p>
                    </div>

                    <div class="col-md-3">           
                        <label>Gross Salary:</label>
                        <p>${{GrossSalary}}</p>
                    </div>

                    <!-- <div class="col-md-3">           
                        <label>Daily Rate:</label>
                        <p>${{DailyRate}}</p>
                    </div> -->
                    <div class="col-md-3">           
                        <label>Earned Income Credit</label>
                        <p>{{EarnedIncomeCredit}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label>Earned Income Credit Childeren</label>
                        <p>{{EarnedIncomeCreditChildren}}</p>
                    </div>
                    <!-- <div class="col-md-3">           
                        <label>Bank Number</label>
                        <p>{{PayorBankNumber}}</p>
                    </div> -->

                    <div class="col-md-3">           
                        <label>Allowances</label>
                        <p>{{Allowances}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label>Dependents</label>
                        <p>{{Dependents}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label>Exemptions</label>
                        <p>{{Exemptions}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label>Flat Fit</label>
                        <p>${{FlatFit}}</p>
                    </div>
                    <div class="col-md-3">           
                        <label>Additional Witholding Amount</label>
                        <p>${{AdditionalWitholdingAmount}}</p>
                    </div>
                </div>
               
            </div>
        </div>
        </div>