<div class="main-navbar">
    <div class="container-fluid">
        <div class="main-nav-inner d-flex justify-con align-c">
            <div class="header-left d-flex">
                <div class="menu-icon" (click)="slideNavbar()" >
                    <img src="/assets/img/menu-icon.svg" alt="img"/>
                </div>
                <div class="logo-main">
                    <img src="/assets/img/logo-icon.svg" alt="logo-img"/>
                </div>
            </div>
            <div class="header-right">
                <ul class="d-flex">
                    <li class="notification">
                        <span class="p-gap">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            <em class="notification-circle"></em>
                        </span>
                    </li>
                    <li class="profile-avtar">
                        <a href="#" class="dropdown-toggle p-gap" data-toggle="dropdown">
                            <figure>
                                <img src="/assets/img/profile-img.png" alt="img">
                            </figure>
                            John Doe
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>Profile</a></li>
                            <li><a (click)="OrganizationLogout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
