@import '../../../assets/scss/variable.scss';
.main-navbar {
    padding: 15px 0;
    @include box-shadow(0px,4px,8px,$light-box-shadow);
    background-color:$white-color;
    position: fixed;
    width: 100%;
    z-index: 10;
    .header-left{
        .menu-icon{
            margin-right:20px;
            cursor: pointer;
        }
        .logo-main{
            img{
                width:118px;
            }
        }
    }
    .header-right{
        .p-gap{
            padding: 0 24px;
            display: inline-block;
            border-left:1px solid #EBEBF2;
        }
        .profile-avtar{            
            .p-gap{
                padding-right: 0px;
                color:$dark-b-color;
                font-size: 14px;
            }
            figure{
                width:36px;
                height: 36px;
                overflow: hidden;
                @include border-radius(100%);
                display: inline-block;
                vertical-align: middle;
                margin: 0;                
                margin-right:5px;
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
            .dropdown-menu{
                li{
                    a{
                        color:$menu-hover;
                        display: block;
                        width: 100%;
                        padding: 5px 15px;
                        &:hover{
                            background-color: $menu-hover;
                            color:$white-color;
                        }
                    }
                }
            }
        }
        .notification{
            .p-gap{
                height: 100%;
                padding-top: 5px;
                position: relative;
                .fa{
                    color: $light-grey;
                    font-size: 17px;
                }
                .notification-circle{
                    background-color: $orange-color;
                    width:11px;
                    height: 11px;
                    @include border-radius(100%);
                    border:2px solid $white-color;
                    position: absolute;
                    display: inline-block;
                    left: 37px;
                    top: 6px;
                }
            }
        }
    }
}