<div class="view-list-outer">
    <div class="popup-header">
        <mat-dialog-actions class="popupclose">  
            <button mat-raised-button [mat-dialog-close]="true"><i class="fa fa-times" aria-hidden="true"></i></button>  
        </mat-dialog-actions>
        <div class="main-wrapper popup-cover-main">
            <div class="header-outer">
                <div class="header-left">
                    <img src="/assets/img/logo-icon.svg" alt="logo">
                    <h2 style="margin: 5px 0;font-size: 18px;"><strong>{{OrganizationName}}</strong></h2>
                    <!-- <p>[309, Main street, Rednsond hill, CA 90354]</p>
                    <p>Phone: [+155585956555]</p> -->
                    <p>Email: {{OrganizationEmail}}</p>
                    <p>Website: {{OrganizationUrl}}</p>
                </div>
                <div class="header-right">
                    <h1><span>Employee Check Details</span></h1>
                    <div class="right-box">
                        <div class="right-box-left">
                            <!-- <p>Manager: <strong>Adam olive Smith</strong></p> -->
                            <p>Employee Name: <strong>{{EmployeeName}}</strong></p>
                            <p>Employee ID: <strong>{{EmployeeNumber}}</strong></p>
                            <p>Period : <strong>{{StartDate}} - {{EndDate}}</strong></p>
                            <p>Check No. : <strong>{{CheckNumber}}</strong></p>
                            <p>Check Date : <strong>{{CheckDate}}</strong></p>
                        </div>
                        <div class="right-box-right">
                            <p><strong>Pay Date</strong></p>
                            <p class="bg-row-main"><strong>{{PaidDate}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="table table-striped table-cus">

                  
                    
                    <ng-container matColumnDef="earning">
                      <th mat-header-cell *matHeaderCellDef> Earning </th>
                      <td mat-cell *matCellDef="let element"> {{element.earning}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="rate">
                      <th mat-header-cell *matHeaderCellDef> Rate </th>
                      <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="hours">
                      <th mat-header-cell *matHeaderCellDef> Hours </th>
                      <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="deduction">
                        <th mat-header-cell *matHeaderCellDef> Deduction </th>
                        <td mat-cell *matCellDef="let element"> {{element.deduction}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="tamount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.tamount}} </td>
                    </ng-container>

                   
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
            </div> -->


            <div class="table-responsive">
                <table class="table table-striped table-cus">
                    <tr>
                        <th>Earning</th>
                        <th class="text-center">Rate</th>
                        <th class="text-center">Hours Clock</th>
                        <th class="text-center">Hours</th>
                        <th class="text-center">Amount</th>
                        <th>Deductions</th>
                        <th class="text-center">Amount</th>
                    </tr>
                    <tr>
                        <td class="bg-color">Regular Pay</td>
                        <td class="text-center">${{RegularPayRate}}</td>
                        <td class="text-center">{{RegularHour}}</td>
                        <td class="text-center">{{RegularAssignedHours}}</td>
                        <td class="text-center">${{Regular}}</td>
                        <td class="bg-color">Soc. Sec. Tax</td>
                        <td class="text-center">${{SocialSecurityTaxAmount}}</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Holiday Pay</td>
                        <td class="text-center">${{HolidayPayRate}}</td>
                        <td class="text-center">{{HolidayHour}}</td>
                        <td class="text-center">{{HolidayAssignedHours}}</td>
                        <td class="text-center">${{Holiday}}</td>
                        <td class="bg-color">Federal Tax</td>
                        <td class="text-center">${{FederalTaxAmount}}</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Vacation Pay</td>
                        <td class="text-center">${{VacationPayRate}}</td>
                        <td class="text-center">{{VacationHour}}</td>
                        <td class="text-center">{{VacationAssignedHours}}</td>
                        <td class="text-center">${{Vacation}}</td>
                        <td class="bg-color">Medical Tax</td>
                        <td class="text-center">${{MedicareTaxAmount}}</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Bonus</td>
                        <td class="text-center">${{BonusPayRate}}</td>
                        <td class="text-center">{{BonusHour}}</td>
                        <td class="text-center">{{BonusAssignedHours}}</td>
                        <td class="text-center">${{Bonus}}</td>
                        <td class="bg-color">Emp. Deduction</td>
                        <td class="text-center">${{EmployeeDeductionAmount}}</td>
                    </tr>
                    <tr>
                        <td class="bg-color"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <th class="text-center"></th>
                        <td class="bg-color">State Tax</td>
                        <td class="text-center">${{StateTaxAmount}}</td>
                    </tr>
                    <tr class="blank-section">
                        <td class="bg-color"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td class="bg-color"><strong>Total</strong></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><strong>${{TotalEarning}}</strong></td>
                        <td></td>
                        <td class="text-center"><strong>${{TotalDeduction}}</strong></td>
                    </tr>
                    <tr class="no-line">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Total Earning</strong></td>
                        <td class="bg-color"><strong>${{TotalEarning}}</strong></td>
                    </tr>
                    <tr class="no-line">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Total Deductions</strong></td>
                        <td class="bg-color"><strong>${{TotalDeduction}}</strong></td>
                    </tr>
                    <tr class="no-line">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Net pay</strong></td>
                        <td class="bg-color"><strong>${{TotalPay}}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
