@import "../../../../assets/scss/variable.scss";

.view-list-outer {
    .header-left {
        width: 40%;
        float: left;
        img{
            margin-bottom: 10px;
        }
        h2{
            margin: 0 0 10px;
            font-size: 18px;
        }
        p{
            margin: 0px 0px 5px;
            font-size: 16px;
            color: $dark-b-color;
        }
    }
    .header-right {
        width: 60%;
        float: left;
        h1{
            text-align: right;
            margin: 0 0 50px;
            line-height: 30px;
            padding-right: 15px;
            span{
                display: inline-block;
                border-bottom: 2px solid $dark-b-color;
                color:$gradient-purple;
                font-size: 25px;
                padding-bottom: 10px;
            }
        }
        .right-box{
            .right-box-left {
                width: 60%;
                float: left;
                p{
                    margin: 0;
                    font-size: 16px;
                    color: #000;
                    padding: 5px;
                    background-color: #f2e7f7;
                    border-bottom: 1px solid #ca9fde;
                    width: 100%;
                }
            }
            .right-box-right {
                width: 40%;
                float: left;
                text-align: center;
                p{
                    width: 150px;
                    text-align: center;
                    padding: 5px;
                    margin: 0;
                    display: inline-block;
                    &.bg-row-main{
                        background-color: #f2e7f7;
                        color:#645EFC;
                    }
                }
            }
        }
    }
}
// .table-responsive{
//     width: 100%;
//     display: inline-block;
//     margin-top: 50px;
//     .table-cus{
//         width:100%;
//         .mat-header-row{
//             .mat-header-cell{
//                 vertical-align: middle;
//                 font-size: 15px;
//                 color: $dark-b-color;
//             }
//         }
//     }
// }

.table-responsive{
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    tr{
        th{
            border-top:1px solid $body-bg;
        }
        td{
            background-color: $white-color;
            &.bg-color{
                background-color: #f2e7f7; 
            }
            &.grey-bg{
                background-color: $body-bg; 
            }
        }
        &.blank-section{
            height:38px;
        }
        &.no-line{
            td{
                border-color: $white-color;
            }
        }
    }
}
.view-list-outer{
    min-width: 960px;
    width: 100%;
    .popup-cover-main {
        max-height: 74vh;
    }
}
.popup-header{
    padding-top: 15px;
    .popupclose{
        top: -30px;
        right: -10px;
    }
}