<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">Checks</h1>
      <div class="title-header-right d-flex justify-con align-c">
        <!-- <div class="search">
                    <input type="text" placeholder="Search check..." >
                    <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div> -->
        <a class="add-btn" (click)="openModal()"><i class="fa fa-print" aria-hidden="true"></i>Print Checks</a>
      </div>
    </div>
    <div class="panel-table">
      <!--end of drag drop section-->
      <div class="panel">
        <div class="table-responsive">
          <table mat-table [dataSource]="EmployeeCheckSource" matSort style="width: 100%" multiTemplateDataRows
            class="mat-elevation-z8"  matSortDirection="asc" matSortDisableClear (matSortChange)="sortclick();">
            <!-- *ngIf="Isshowtabledata==1" -->
            <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{
                  column == "TotalDeductionAmount"
                    ? "Deduction Amt.($)"
                    : column == "StartDate"
                    ? "Start Date"
                    : column == "EmployeeName"
                    ? "Employee Name"
                    : column == "CheckNumber"
                    ? "Check No."
                    : column == "Gross"
                    ? "Gross Amt.($)"
                    : column == "Amount"
                    ? "Pay Amt.($)"
                    : column == "EndDate"
                    ? "End Date"
                    : column == "CheckDate"
                    ? "Check Date"
                    : column
                }}
              </th>

              <td mat-cell *matCellDef="let element">
                <div *ngIf="column != 'Action'">
                  {{ element[column] }}
                </div>
                <div *ngIf="column == 'Action'">
                  <span matTooltip="View Tax Deduction" class="add-punch" (click)="onClick(element)" [ngClass]="{
                      show: expanded == element,
                      hide: expanded != element
                    }"><i class="fa fa-plus" aria-hidden="true"></i></span>
                  <span tooltip="View" flow="down" class="add-punch" (click)="
                      openDialogViewCheckDetail(
                        element.EMPLOYEEID,
                        element.PayperiodId
                      )
                    ">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                  <!-- <span class="add-punch" (click)="openModal()">
                              <i class="fa fa-print" aria-hidden="true"></i>
                            </span> -->
                </div>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="9">
                <div class="example-element-detail" [@detailExpand]="
                    element == expanded ? 'expanded' : 'collapsed'
                  ">
                  <div class="test" style="width:100%">
                    <table mat-table [dataSource]="TaxDeductionsDetailsSource" style="width: 100%">
                      <!-- <ng-container matColumnDef="Type">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                              <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                            </ng-container> -->
                      <ng-container matColumnDef="Deductions">
                        <th mat-header-cell *matHeaderCellDef>
                          Type
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.DeductionTypeName }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>

                      <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef>
                          Amount($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Amount }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="SubdisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let element; columns: SubdisplayedColumns"></tr>
                    </table>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
            <!--  [class.example-expanded-row]="expandedElement === element"
                (click)="onClick(element)" -->
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
          <!-- <div
          style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;"
          *ngIf="Isshowtabledata== 2"
        >
          No records found
        </div> -->
          <mat-paginator [length]="totalRecords" [pageSize]="pageSize" (page)="pageEvent($event)">
          </mat-paginator>
        </div>
      </div>

      <!--end of table-->
    </div>
  </div>
</div>
<button data-toggle="modal" style="display: none" #openprintmodal class="btn btn-primary">
  PrintModalOpen
</button>
<div class="modal custom-popup " id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close header-close" data-dismiss="modal">
          &times;
        </button>
        <p>
          It seems that there is some changes in time punches, firstly you
          need to process again.
        </p>

        <div class="modal-btn">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn del-btn" (click)="OnPayrollProcess()">
            Process
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-popup " id="myPrintCheck">
  <div class="modal-dialog">
    <div class="modal-content modalcontent">
      <div class="modal-body">
      
        <form class="form-section col-md-12" [formGroup]="ChecksFrom"  autocomplete="off">
            <button type="button" class="close header-close" data-dismiss="modal">
                &times;
              </button>
        <div class="print-checkbox-all">
          <!-- <mat-checkbox (click)="isprintallcheck()">Print all check</mat-checkbox> -->
          <mat-radio-group aria-label="Select an option" formControlName="IsPrintControl" (change)="isprintallcheck()">
            <mat-radio-button  value="1">Print All</mat-radio-button>
            <mat-radio-button  value="2">Print Specific Employee</mat-radio-button>
          </mat-radio-group>
        </div>
        <div style="min-height: 105px;">
          <div *ngIf="!showempno">
            <label>Please select the employee number</label>
            <div class="row">
              <div class="col-md-6 empno-input">
                <mat-form-field appearance="outline" style="width:100%;">
                  <mat-label>From</mat-label>
                  <mat-select [formControl]="EmpCtrl" placeholder="Emplyee Number"
                    (selectionChange)="ChangetoEmployeeList($event)">
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Find Employee Number..." i18n-placeholderLabel
                        noEntriesFoundLabel="'no matching Employee found'" i18n-noEntriesFoundLabel
                        [formControl]="EmpFromFilterCtrl" [searching]="searching"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let emp of filteredFromEmployeeList | async" [value]="emp.id">
                      {{ emp.EmployeeNumber }}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="EmpCtrl.errors.required">
                    from  is Required!
                </mat-error> -->
                </mat-form-field>
                <!-- <label>From</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="startEmployeenumber"
                /> -->
              </div>
              <div class="col-md-6 empno-input">
                <mat-form-field appearance="outline" style="width:100%;">
                  <mat-label>To</mat-label>
                  <mat-select [formControl]="EmpToCtrl" placeholder="Emplyee Number" (selectionChange)="ChangeFromEmployeeList($event)">
                    <mat-option>
                      <ngx-mat-select-search placeholderLabel="Find Employee Number..." i18n-placeholderLFabel
                        noEntriesFoundLabel="'no matching Employee found'" i18n-noEntriesFoundLabel
                        [formControl]="EmpToFilterCtrl" [searching]="searching"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let emp of filteredToEmployeeList | async" [value]="emp.id">
                      {{ emp.EmployeeNumber }}
                    </mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="EmpToCtrl.errors.required">
                    To  is Required!
                </mat-error> -->
                </mat-form-field>
                <!-- <label>To</label>
                <input
                  class="form-control"
                  type="text"
                  [(ngModel)]="lastEmployeenumber"
                />  -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-btn">
          <button type="button" class="btn" data-dismiss="modal">
            Close
          </button>
          <button type="button" data-dismiss="modal" class="btn del-btn" (click)="PrintChecks()">
            Print Check
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal custom-popup " id="Continue">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close header-close" data-dismiss="modal">
          &times;
        </button>
        <!-- <h2>Are you sure ?</h2> -->
        <p>Do you want Close the period, once you click the Yes button you will never do any changes in time punches.</p>

        <div class="modal-btn">
        
          <!-- <button type="button" data-dismiss="modal" class="btn del-btn" (click)="ClosePayPeriod()">
            OK
          </button> -->
          <button type="button" data-dismiss="modal" class="btn del-btn" (click)="continuePopup()">
            Yes
          </button>
          <button type="button" class="btn" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-popup " id="ClosePaypeiod">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close header-close" data-dismiss="modal">
          &times;
        </button>
        <!-- <h2>Are you sure ?</h2> -->
        <p>Are you sure?</p>

        <div class="modal-btn">
          <button type="button" class="btn del-btn" data-dismiss="modal" (click)="ClosePayPeriod()">Yes</button>
          <button type="button" class="btn" data-dismiss="modal">No</button>
          <!-- <button type="button" data-dismiss="modal" class="btn del-btn" (click)="ClosePayPeriod()">
            OK
          </button> -->
         
        </div>
      </div>
    </div>
  </div>
</div>