@import "../../../../assets/scss/variable.scss";

.dropdown-section{
    background-color: $white-color;
}
.panel-table{
    .table-cus{
        border-collapse: collapse;
        thead{
            tr{                
                th{
                    font-size: 14px;
                    color:$dark-b-color;
                    text-transform: capitalize;
                    font-weight: normal;
                    background-color: $white-color;
                    @include border-radius(4px);
                }
                
            }
        }
        tr{
            border-top:10px solid $body-bg;
            th{
                @include border-radius(4px);
            }
            &.dropdown-row{
                border-color:$white-color;
                background-color: $white-color;
                display: none;
                .dropdown-section{
                    background-color: $body-bg;
                }
                .p-l-r-15{
                    padding-left:20px;
                    padding-right:20px;
                    padding-top:20px;
                }
                &.show{
                    display: table-row;
                }
            }            
            table{
                width:100%;
                thead{
                    
                    tr{
                        border-top:0px;                        
                        th{
                            background-color: $body-bg;
                            text-transform: uppercase;
                            color: $dark-b-color;
                            font-weight: 500;
                        }
                    }
                }
                tr{
                    border-top:1px solid $input-border-color;
                
                .timeinput{
                    width: 108px;
                    @include border-radius(4px);
                    height: 32px;
                    border:1px solid $input-border-color;
                }
                }
            }
            td{
                border:0px;
            }
        }
    }
    .add-punch{
        width:24px;
        height:24px;
        @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
        display: inline-block;
        @include border-radius(100%);
        color:$white-color;
        text-align: center;
        position: relative;
        cursor: pointer;
        line-height: 24px;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        margin:0 3px;
        .fa{
            font-size: 12px;
            line-height: normal;
            cursor: pointer;
        }
        &:hover{
            @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
        }
        &.show{
            -webkit-transform: rotate(225deg);
            -moz-transform: rotate(225deg);
            transform: rotate(225deg);
        }
    }
}

.mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }

// popup start
.bg-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    z-index: 20;
    &.slideLeft{
        right:0;
    }
}
.modal-section {
    width: 400px;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    background-color: $white-color;
    padding: 30px;
    transition: all ease-in 0.5s;
    z-index: 21;
    &.slideLeft{
        right:0;
        transition: all ease-out 0.3s;
    }
    .modal-header-main{
        width: 100%;
        display: inline-block;
        position: relative;
        padding: 0 15px;
        margin-bottom: 20px;
        p{
            float: none;
            margin-bottom: 1px;
            font-weight: 600;
            font-size: 18px;
        }
        .fa{
            position: absolute;
            cursor: pointer;
            right: 0;
            top: 0;
        }
    }
    .modal-body-main{
        height: calc(100vh - 128px);
        overflow-y: auto;
        .no-margin{
            margin: 0;
            ::ng-deep .mat-form-field{
                width:100%;
                .mat-form-field-underline{
                    height:0;
                }
            }
        }
    }
    .modal-foolte-main{
        .add-btn{
            height: 52px;
            position: absolute;
            width:100%;
            left: 0;
            bottom: 0;
            margin: 0;
            border: 0;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 14px;
            
        }
    }
}
.test{
    padding:0rem;
      vertical-align: middle; 
}
.mat-header-row{
    height:43px;
    ::ng-deep .mat-header-cell{
      padding:5px 10px;
      vertical-align: middle;
      background-color: $table-header-bg;
    }
  }
  .mat-row{
      height:43px;
    ::ng-deep .mat-cell{
      padding:5px 10px;
      vertical-align: middle;
    }
    &.example-detail-row{
        .cdk-column-expandedDetail{
            padding: 0px 5px 0px;
            border:0px;
            .mat-header-row{
                background-color: lighten($input-border-color,10%);
            }
            .mat-cell{
                // background-color: lighten($input-border-color, 20%);
                background-color: #f7f7f7;
            }
            .mat-table{
                margin-top:5px;
            }
        }
        // .mat-cell{
            
        // }
    }
  }
  tr.example-detail-row {
    height: 0;
  }
//   tr.example-element-row:not(.example-expanded-row):hover {
//     background:#777;
//   }
//   tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
//   }
  example-element-row td {
    border-bottom-width: 0;
  }
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
    
  ::ng-deep .mat-form-field{
  &.mat-form-field-appearance-outline{
        .mat-select-placeholder{
        font-size:14px;
        }
    }
    .mat-icon{
        width: 19px;
          .fa{
            font-size: 14px;
            top: -2px;
            position: relative;
            color: rgba(0, 0, 0, 0.6);
          }
      }
  }

.mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
         
  .mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }
  .title-header-right{
    ::ng-deep .mat-form-field{
      .mat-form-field-wrapper{
        padding-bottom: 0;
        .mat-form-field-outline{
          background-color: $white-color;
        }
      }
    }
  }


  .custom-popup{
    .modal-dialog{
      // max-width: 400px;
      max-width: 610px;;
      text-align: center;
      width:92%;
      .icon-box{
        img{
          width:65px;
        }
      }
      h2{
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
      color: #636363;
      }
      p{
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
      color: #999;
      }
      .modal-btn{
        button{
          min-width: 120px;
          height: 43px;
          background-color: #c1c1c1;
          color:  #f5f0f0;
          margin:0 5px;
          &.del-btn{
            background-color: #f15e5e;
          }
        }
      }
    }
    .empno-input{
      text-align: left;
      input{
        font-size: 14px;
        margin-bottom: 15px;
      }
      label{
        font-size: 14px;
        margin: 0 0 2px;
      }
    }
    .modalcontent{
      padding: 20px;
    }
  }
  .print-checkbox-all {
    text-align: left;
}
::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.payroll-radio > label {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin-right: 15px;
  font-weight: 500;
}
.payroll-radio {
  margin-bottom: 1.34375em;
  ::ng-deep .mat-radio-button{
    .mat-radio-label-content{
      font-size: 14px;
    }
  }
}

[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001; 
}
[tooltip]::after {
  content: attr(tooltip);
  
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #7470ee;
  color: #fff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}
