
.mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }

  .custom-popup{
    .modal-dialog{
      max-width: 400px;
      text-align: center;
      width:92%;
      .icon-box{
        img{
          width:65px;
        }
      }
      h2{
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
      color: #636363;
      }
      p{
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
      color: #999;
      }
      .modal-btn{
        button{
          min-width: 120px;
          height: 43px;
          background-color: #c1c1c1;
          color:  #f5f0f0;
          margin:0 5px;
          &.del-btn{
            background-color: #f15e5e;
          }
        }
      }
    }
  }
  .mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }

  .blinking{
    animation:blinkingText 1.0s infinite;
  }
  @keyframes blinkingText{
    0%{     color: #ffffff;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ffffff;    }
  }
  .mat-row.NeedToProcess{
    background: rgb(161, 64, 22); 
  }
  .mat-row.ProcessDone{
    background: rgb(121, 168, 97);
  }
  .align-r {
    text-align: right;
  }
