<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">Process Payroll</h1>
      <div class="title-header-right d-flex justify-con align-c">
        <div class="search">
          <input
            type="text"
            placeholder="Search..."
            (keyup)="GetPayperiodListByName($event)"
          />
          <span class="search-icon"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </div>
      </div>
    </div>
    <!--end of title header-->
    <div class="panel">
      <div class="align-r">
        <span style="font-size:13px;">
          <i
            class="fa fa-square"
            style="font-size:12px;color:rgb(161, 64, 22);"
          ></i>
          Need To Be Process &nbsp;&nbsp;</span
        >
        <span style="font-size:13px;">
          <i
            class="fa fa-square"
            style="font-size:12px;color:rgb(121, 168, 97);"
          ></i>
          No Changes</span
        >
      </div>
      <!--end of drag drop section-->
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="EmployeePayPeriodSource"
          matSort
          class="table table-striped table-cus "
          matSortDirection="asc" matSortDisableClear
        >
          <ng-container matColumnDef="PeriodName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Pay Frequency
            </th>
            <td mat-cell *matCellDef="let element">{{ element.PeriodName }}</td>
          </ng-container>
          <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Start Date
            </th>
            <td mat-cell *matCellDef="let element">{{ element.StartDate }}</td>
          </ng-container>
          <ng-container matColumnDef="EndDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let element">{{ element.EndDate }}</td>
          </ng-container>

          <ng-container matColumnDef="CheckDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Check Date
            </th>
            <td mat-cell *matCellDef="let element">{{ element.CheckDate }}</td>
          </ng-container>
          <ng-container matColumnDef="StatusName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.StatusName }}</td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="primary"
                matBadge="8"
                matBadgePosition="before"
                matBadgeColor="accent"
                data-toggle="modal"
                data-target="#myModal"
                *ngIf="element.StatusName == 'Unpaid'"
                type="button"
                class="btn btn-primary "
                (click)="DialogProcessPayroll(element)"
              >
                Process
              </button>

              <span *ngIf="element.StatusName == 'Paid'">Processed</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              NeedToProcess: row.StatusName == 'Unpaid' && row.ProcessCHK == 1,
              ProcessDone: row.StatusName == 'Unpaid' && row.ProcessCHK == 0
            }"
          ></tr>
        </table>

        <div
          style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;"
          *ngIf="noData | async"
        >
          No records found
        </div>
        <mat-paginator
          [length]="totalRecords"
          [pageSize]="pageSize"
          (page)="pageEvent($event)"
        >
        </mat-paginator>
      </div>
      <!--end of table-->
    </div>
  </div>
</div>

<div class="modal custom-popup " id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <button type="button" class="close header-close" data-dismiss="modal">
          &times;
        </button>
        <!-- <h2>Are you sure?</h2> -->
        <p>Do you really want to process this pay period?</p>
        <div class="modal-btn">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn del-btn"
            (click)="OnPayrollProcess()"
          >
            Process
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
