<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">
        Time Punches
        <span *ngIf = "showFrequecny == true" style="font-size: 14px">({{ currentperiodName }}:
          {{ currentstartDate | date: "MM/dd/yyyy" }} to
          {{ currentendDate | date: "MM/dd/yyyy" }})</span>
      </h1>

      <!-- <span> Start Date: {{employeePayPeriodlist.startDate |date:'MM/dd/yyyy'}} End Date{{employeePayPeriodlist.endDate |date:'MM/dd/yyyy'}}</span> -->
      <div class="title-header-right d-flex justify-con align-c">
        <button href="#" class="add-btn" (click)="isActive()">
          <i class="fa fa-plus" aria-hidden="true"></i>ADD NEW
        </button>
      </div>
    </div>
    <!--end of title header-->
    <!-- <div class="dropdown-section">
                <img class="drag-icon" src="/assets/img/drag-icon.svg" alt="img">
                Drag here to set row groups
            </div>-->

    <div class="panel-table">
      <!--end of drag drop section-->
      <div class="panel">
          
        <div class="table-responsive">
          <table mat-table [dataSource]="EmployeeSource" matSort (matSortChange)="click();"style="width: 100%" multiTemplateDataRows
            class="mat-elevation-z8" matSortDirection="asc" matSortDisableClear>
            <!-- *ngIf="Isshowtabledata==1" -->
            <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{
                  column == 'Number'? 'Employee No.' :  
                  column == 'SocSec'? 'Soc. Sec.' : 
                  column == 'FirstName' ? 'First Name' :
                  column == 'LastName' ? 'Last Name' :
                  column == 'HourlyRate' ? 'Hourly Rate($)' :
                  column == 'Amount' ? 'Amount($)' :
                  column
                }}
              </th>

              <td mat-cell *matCellDef="let element">
                <div *ngIf="column != 'Action'">
                  {{ element[column] }}
                </div>
                <div *ngIf="column == 'Action'">
                  <span class="add-punch" (click)="onClick(element)" 
                  [ngClass]="{
                      show: expanded == element,
                      hide: expanded != element
                    }"
                    ><i class="fa fa-plus" aria-hidden="true"></i></span>
                  <span class="add-punch" (click)="isActive(element)">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </span>
                </div>
                <!-- <div *ngIf="column == 'Action'">
                  <span class="add-punch" (click)="onClick(element)" 
                  [ngClass]="{
                      show: expanded == element,
                      hide: expanded != element
                    }"
                    ><i class="fa fa-plus" aria-hidden="true"></i></span>
                  <span class="add-punch" (click)="isActive(element)">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </span>
                </div> -->
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="SubdisplayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="
                    element == expanded ? 'expanded' : 'collapsed'
                  ">
                  <div class="test" style="width:100%">
                    
                    <table mat-table [dataSource]="EmployeeTimePunchesSource" style="width: 100%">
                      <!-- <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef>
                          Type
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Type }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="IN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          In Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.IN | date: "h:mm:ss a" }}
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="IN">
                        <th mat-header-cell *matHeaderCellDef>
                          In Time
                        </th>

                        <td mat-cell *matCellDef="let element">
                          <div class="12hr-example" *ngIf="element.Type != 'B'">
                            <input placeholder="24hr format (default settings)" aria-label="24hr format"
                              [ngxTimepicker]="max" [(ngModel)]="element.IN" [format]="24" [max]="element.Out"
                              style="width: 75px" />

                            <ngx-material-timepicker #default #max></ngx-material-timepicker>
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- (closed)="OnblurMethod(element)"
                              (timeSet)="getHoursDiff(element)" -->
                      <!-- <ng-container matColumnDef="Out">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Out Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Out | date: "h:mm:ss a" }}
                        </td>
                      </ng-container> -->

                      <ng-container matColumnDef="Out">
                        <th mat-header-cell *matHeaderCellDef>
                          Out Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <!-- *ngIf="element.Type == 'R'" -->
                          <div *ngIf="element.Type != 'B'">
                            <input placeholder="24hr format (default settings)" aria-label="24hr format"
                              [ngxTimepicker]="min" readonly [format]="24" [(ngModel)]="element.Out" [min]="element.IN"
                              style="width: 75px" />

                            <ngx-material-timepicker #min></ngx-material-timepicker>
                            <!-- (closed)="OnblurMethod(element)" -->
                            <!-- (timeSet)="getHoursDiff(element)" -->
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="Day">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
                        <td mat-cell *matCellDef="let element"> {{element.Date| date : 'EEEE' }} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Day">
                        <th mat-header-cell *matHeaderCellDef>
                          Day
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Date | date: "EEEE" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.Date|date:'MM/dd/yyyy'}} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef>
                          Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Date | date: "MM/dd/yyyy" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="Hours">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hrs </th>
                          <td mat-cell *matCellDef="let element"> {{element.Hours}} </td>
                        </ng-container> -->
                      <ng-container matColumnDef="Hours">
                        <th mat-header-cell *matHeaderCellDef>
                          Hours
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <!-- *ngIf="element.Type == 'R'" -->
                          <div *ngIf="element.Type != 'B'">
                            <input numeric numericType="decimal" [(ngModel)]="element.Hours"
                              (blur)="OnblurMethod(element)" style="width: 75px" />
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                          {{ getHoursSum() }}
                        </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="HoursClock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hrs clock </th>
                        <td mat-cell *matCellDef="let element"> {{element.HoursClock}} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="HoursClock">
                        <th mat-header-cell *matHeaderCellDef>
                          Hrs clock
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div *ngIf="element.Type != 'B'">
                            <span> {{ getHoursDiff(element) }}</span>
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                          {{ getHoursClock() }}
                        </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="HourRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          Hour Rate($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.HourlyRate }}
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="HourRate">
                        <th mat-header-cell *matHeaderCellDef>
                          Hour Rate($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div *ngIf="element.Type != 'B'">
                            <input numeric numericType="decimal" [(ngModel)]="element.HourlyRate"
                              (blur)="OnblurMethod(element)" style="width: 75px" />
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="OVT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          OVT
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.OVT }}
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="OVT">
                        <th mat-header-cell *matHeaderCellDef>
                          Ovt.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div *ngIf="element.Type != 'B'">
                            <input numeric numericType="decimal" [(ngModel)]="element.OVT"
                              (blur)="OnblurMethod(element)" style="width: 75px" />
                          </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount($) </th>
                        <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef>
                          Amount($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div *ngIf="element.Type != 'B'; else elseBlock">
                            <!-- {{ getAmount(element) }} -->
                            {{ element.Amount }}
                          </div>
                          <ng-template #elseBlock>
                            <input numeric numericType="decimal" [(ngModel)]="element.Amount"
                              (blur)="OnblurMethod(element)" style="width: 75px" /></ng-template>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>
                          {{ getTotalAmount() }}
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="SubdisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let element; columns: SubdisplayedColumns"></tr>
                      

                    </table>
                    <div *ngIf="noRecord">
                      <label>No Record Found</label>
                    </div>
                    <!-- <div style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;" *ngIf="EmployeeTimePunchesSource.data.length === 0">No records found</div> -->
                  </div>
                 
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"></tr>
            <!--  [class.example-expanded-row]="expandedElement === element"
          (click)="onClick(element)" -->
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>



          <!-- <div style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;" *ngIf="Isshowtabledata==2">No records found</div> -->
          <mat-paginator [length]="totalRecords" [pageSize]="pageSize" (page)="pageEvent($event)">
          </mat-paginator>


          <!-- <table  class="table table-striped table-cus">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Soc sec</th>
                            <th>First name</th>
                            <th>last Name</th>
                            <th>Hourly rate</th>
                            <th>Hours</th>
                            <th>Amount</th>
                            <th>A</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let emplist of employeelist">
                            
                            <td>{{emplist.number}}</td>
                            <td>{{emplist.socSec}}</td>
                            <td>{{emplist.firstName}}</td>
                            <td>{{emplist.lastName}}</td>
                            <td>$20</td>
                            <td>50</td>
                            <td>$1000</td>
                            <td><span class="add-punch" (click)="ToggleTimeShow(i);"
                                    [ngClass]="{show: shouldShow, hide: !shouldShow}"><i class="fa fa-plus"
                                        aria-hidden="true"></i></span>
                            </td>
                        </tr>
                      
                        <tr class="dropdown-row" [ngClass]="{show: shouldShow, hide: !shouldShow}">

                            <td colspan="8" class="p-l-r-15">
                                <div class="dropdown-section">
                                    <img class="drag-icon" src="/assets/img/drag-icon.svg" alt="img">
                                    Drag here to set row groups
                                </div>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>IN</th>
                                            <th>Out</th>
                                            <th>Day</th>
                                            <th>Date</th>
                                            <th>Hrs clock</th>
                                            <th>Hour Rate</th>
                                            <th>OVT</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>R</td>
                                            <td>09:30:12 am</td>
                                            <td>06:40:25 pm</td>
                                            <td>Mon</td>
                                            <td>02/19/2019</td>
                                            <td>9.00</td>
                                            <td>
                                                <input type="text" class="timeinput">
                                            </td>
                                            <td>
                                                <input type="text" class="timeinput">
                                            </td>
                                            <td>180.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                       

                    </tbody>
                </table> -->
        </div>
        
      </div>

      <!--end of table-->
    </div>
  </div>
</div>
<!-- popup start -->

<div class="bg-overlay" [ngClass]="{ slideLeft: status }"></div>

<div class="modal-section" [ngClass]="{ slideLeft: status }">
  <div class="modal-main-content">
    <div class="modal-header-main">
      <p>Add Time Punch</p>
      <!-- <i class="fa fa-times" aria-hidden="true" (click)="isActive()"></i> -->
      <i class="fa fa-times" aria-hidden="true" (click)="isdActive()"></i>
      <span style="font-size: 14px;display:block;">({{ currentperiodName }}:
        {{ currentstartDate | date: "MM/dd/yyyy" }} to
        {{ currentendDate | date: "MM/dd/yyyy" }})</span>
    </div>
    <form autocomplete="off" class="form-section" [formGroup]="AddTimepuchesForm" (ngSubmit)="OnTimepunchformSubmit()">
      <div class="modal-body-main">
        <div class="top-dates">
          <div class="row no-margin">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-select formControlName="EmpCtrl" placeholder="Employee" #singleSelect
                  (selectionChange)="getSelectedEmployeeDetails($event)">

                  <!-- [value]="selectedempId" 
                [disabled]="selectedempId > 0"
                 [(ngModel)]="selectemp"
                -->
                  <!-- formControlName="Employeelist" -->
                  <ngx-mat-select-search placeholderLabel="Find Employee..." i18n-placeholderLabel
                    noEntriesFoundLabel="'no matching Employee found'" i18n-noEntriesFoundLabel
                    [formControl]="EmpFilterCtrl"></ngx-mat-select-search>

                  <mat-option *ngFor="let emp of filteredEmployeeList | async" [value]="emp">
                    {{ emp.Employeename }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error
                  *ngIf="AddTimepuchesForm.get('EmpCtrl').hasError('required')"
                >
                  Employee is Required!
                </mat-error> -->
                <mat-error *ngIf="
                    AddTimepuchesForm.get('EmpCtrl').hasError('required')
                  ">
                  Employee is Required!
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select [(ngModel)]="selectemp" name="food" formControlName="EmpFilterCtrl">
                  <mat-option *ngFor="let food of filteredEmployeeList" [value]="food.id">
                    {{food.Employeename}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <!-- <div class="col-xs-6 col-md-6 p-0">
              <mat-form-field>
                                       <mat-label>Start date</mat-label>
                                       <input matInput [matDatepicker]="picker3" placeholder="End Date">
                                       <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                       <mat-datepicker #picker2></mat-datepicker>
                                   </mat-form-field>
              <mat-form-field>
                <mat-label>Start date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-6 col-md-6 p-0">
              <mat-form-field>
                <mat-label>End date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker2"
                  placeholder="Choose a date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div> -->
            <div class="col-md-12">
              <div class="mat-form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let type of Typelist" [value]="type.typeId" (click)="disabled(type.typeName)">
                      {{ type.typeName }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="AddTimepuchesForm.get('type').hasError('required')">
                    Type is Required!
                  </mat-error>
                  <!-- <input matInput placeholder="Type" /> -->
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input readonly formControlName="ReferenceDate" matInput [matDatepicker]="picker3" placeholder="Date"
                  [max]="maxDate" [min]="minDate" />
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>

                <mat-error *ngIf="
                    AddTimepuchesForm.get('ReferenceDate').hasError('required')
                  ">
                  Date is Required!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12" *ngIf="show">
              <div class="mat-form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Hours</mat-label>
                  <input numeric numericType="decimal" matInput formControlName="Hours" placeholder="Hours"
                    (blur)="getAmountOnTimepunche()" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12" *ngIf="show">

              <div class="mat-form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Rate</mat-label>
                  <input numeric numericType="decimal" matInput formControlName="HourlyPayRate"
                    placeholder="Hourly Pay Rate($)" (blur)="getAmountOnTimepunche()" />
                  <mat-icon matPrefix><i class="fa fa-usd" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12" *ngIf="show">
              <div class="mat-form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Ovt.</mat-label>
                  <input numeric numericType="decimal" matInput placeholder="Ovt." formControlName="OvertimeMultiplier"
                    (blur)="getAmountOnTimepunche()" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mat-form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Amount</mat-label>
                  <input numeric numericType="decimal" matInput placeholder="Amount($)" formControlName="Amount"
                    autocomplete="Amount" />
                  <mat-icon matPrefix><i class="fa fa-usd" aria-hidden="true"></i></mat-icon>
                  <mat-error *ngIf="AddTimepuchesForm.get('Amount').hasError('required')">
                    Amount is Required!
                  </mat-error>
                  <mat-error *ngIf="AddTimepuchesForm.get('Amount').hasError('pattern')">
                    Amount must be valid
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            
          </div>

        </div>
      </div>
      <div class="modal-foolte-main">
        <button class="add-btn">Add</button>
      </div>

    </form>
  </div>
</div>
