<router-outlet></router-outlet>




    <div class="loader" *ngIf="show">
        <img alt="loader" class="img-fluid" src="../../../../assets/img/loader.svg" />
      </div>
      <div class="mask" *ngIf="show"></div>


