@import '../../../../assets/scss/variable.scss';

.login-cover-main {
    height: 100%;
    position: relative;
    background-image: url('../../../../assets/img/login-bg-img.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    &:after{
        content:'';
        position: absolute;
        height: 2px;
        width:100%;
        left: 0;
        top: 0;
        background: transparent linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%) 0% 0% no-repeat padding-box;
    }
    .login-container {
        text-align: center;
        max-width: 400px;
        width: 95%;
        margin: 0 auto;
        height: 100%;
        .login-inner{
            @include translate(0px,-50%);
            top: 50%;
            position: relative;
            .login-logo{
                margin: 0;                
            }
            .login-text{
                color:$primary-text-color;
                font-size: 16px;
                margin-bottom: 40px;
            }
            .login-box{
                background-color: $white-color;
                @include box-shadow(0px,4px,16px,$box-shadow);
                @include border-radius(4px);
                padding:35px;
            }
            .mat-login-row{                
                ::ng-deep .mat-form-field{
                    width: 100%;
                    &.mat-form-field-should-float{
                        .mat-form-field-label{
                            color:$gradient-pink;
                        }
                        .mat-form-field-flex{
                            .mat-form-field-outline-thick{
                                color: $gradient-pink;
                                opacity: 1;
                            }
                        }
                    }
                    &.mat-focused{
                        .mat-form-field-outline-thick{
                            color: $gradient-pink;
                        }
                    }
                }
            }
            .login-checkbox {
                text-align: left;
                margin-bottom: 15px;
            }
            .login-submit-btn{
                margin-bottom: 15px;
                .mat-button{
                    width: 100%;
                    height: 52px;
                    @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
                    color: $white-color;
                    font-size:14px;
                    font-weight: 600;
                    @include transition (all, 0.5s, ease);
                    cursor: pointer;
                    &:hover{
                        @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
                    }
                }
            }
            .forget-pwd{
                a{
                    color: $gradient-purple;
                    font-size: 14px;
                }
            }
        }
    }
}

