<div class="sidebar-main">
    <ul class="sidebar-menu">
        <!-- <li class="active">
            <a href="#db-dropdown" data-toggle="collapse">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                    height="27" viewBox="0 0 27 27">
                    <defs>
                        <style>
                            .a,
                            .b {
                                fill: #fff;
                            }

                            .a {
                                opacity: 0;
                            }

                            .c {
                                filter: url(#a);
                            }
                        </style>
                        <filter id="a" x="0" y="0" width="27" height="27" filterUnits="userSpaceOnUse">
                            <feOffset dy="2" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="1.5" result="b" />
                            <feFlood flood-opacity="0.051" />
                            <feComposite operator="in" in2="b" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <g transform="translate(-25.5 -195.5)">
                        <g class="c" transform="matrix(1, 0, 0, 1, 25.5, 195.5)">
                            <path class="a" d="M0,0H18V18H0Z" transform="translate(4.5 2.5)" />
                        </g>
                        <g transform="translate(-60 -96)">
                            <rect class="b" width="2" height="2" transform="translate(92 296)" />
                            <rect class="b" width="2" height="2" transform="translate(92 304)" />
                            <rect class="b" width="2" height="2" transform="translate(92 300)" />
                            <rect class="b" width="2" height="2" transform="translate(92 308)" />
                            <rect class="b" width="2" height="2" transform="translate(100 296)" />
                            <rect class="b" width="2" height="2" transform="translate(100 304)" />
                            <rect class="b" width="2" height="2" transform="translate(100 300)" />
                            <rect class="b" width="2" height="2" transform="translate(100 308)" />
                            <rect class="b" width="2" height="2" transform="translate(96 296)" />
                            <rect class="b" width="2" height="2" transform="translate(96 304)" />
                            <rect class="b" width="2" height="2" transform="translate(96 300)" />
                            <rect class="b" width="2" height="2" transform="translate(96 308)" />
                            <rect class="b" width="2" height="2" transform="translate(104 296)" />
                            <rect class="b" width="2" height="2" transform="translate(104 304)" />
                            <rect class="b" width="2" height="2" transform="translate(104 300)" />
                            <rect class="b" width="2" height="2" transform="translate(104 308)" />
                        </g>
                    </g>
                </svg>
                Dashboard
                <span class="drosown-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a>
            <ul class="dropdown-menu" id="db-dropdown" class="collapse">
                <li><a routerLink="/pages">Drop down 1</a></li>
                <li><a href="#">Drop down 1</a></li>
                <li><a href="#">Drop down 1</a></li>
                <li><a href="#">Drop down 1</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/pages/organization" [routerLink]="['/pages/organization']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                    height="27" viewBox="0 0 27 27">
                    <defs>
                        <style>
                            .a,
                            .b {
                                fill: #fff;
                            }

                            .a {
                                opacity: 0;
                            }

                            .c {
                                filter: url(#a);
                            }
                        </style>
                        <filter id="a" x="0" y="0" width="27" height="27" filterUnits="userSpaceOnUse">
                            <feOffset dy="2" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="1.5" result="b" />
                            <feFlood flood-opacity="0.051" />
                            <feComposite operator="in" in2="b" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <g transform="translate(-25.5 -195.5)">
                        <g class="c" transform="matrix(1, 0, 0, 1, 25.5, 195.5)">
                            <path class="a" d="M0,0H18V18H0Z" transform="translate(4.5 2.5)" />
                        </g>
                        <g transform="translate(-60 -96)">
                            <rect class="b" width="2" height="2" transform="translate(92 296)" />
                            <rect class="b" width="2" height="2" transform="translate(92 304)" />
                            <rect class="b" width="2" height="2" transform="translate(92 300)" />
                            <rect class="b" width="2" height="2" transform="translate(92 308)" />
                            <rect class="b" width="2" height="2" transform="translate(100 296)" />
                            <rect class="b" width="2" height="2" transform="translate(100 304)" />
                            <rect class="b" width="2" height="2" transform="translate(100 300)" />
                            <rect class="b" width="2" height="2" transform="translate(100 308)" />
                            <rect class="b" width="2" height="2" transform="translate(96 296)" />
                            <rect class="b" width="2" height="2" transform="translate(96 304)" />
                            <rect class="b" width="2" height="2" transform="translate(96 300)" />
                            <rect class="b" width="2" height="2" transform="translate(96 308)" />
                            <rect class="b" width="2" height="2" transform="translate(104 296)" />
                            <rect class="b" width="2" height="2" transform="translate(104 304)" />
                            <rect class="b" width="2" height="2" transform="translate(104 300)" />
                            <rect class="b" width="2" height="2" transform="translate(104 308)" />
                        </g>
                    </g>
                </svg>
                Organization
            </a>
        </li> -->
        <li>
            <a [routerLink]="['/home/employee']"  routerLinkActive="active">
                
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                <g>
                    <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587
                        C104.535,132.855,136.084,171.173,175,171.173z"/>
                    <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                    <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                    <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761
                        s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131
                        c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496
                        c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                </g>
                </svg>

                <span class="menu-link">Employees</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/home/TimePunches']"  routerLinkActive="active">
               
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 299.995 299.995" style="enable-background:new 0 0 299.995 299.995;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M149.995,0C67.156,0,0,67.158,0,149.995s67.156,150,149.995,150s150-67.163,150-150S232.834,0,149.995,0z
                            M214.842,178.524H151.25c-0.215,0-0.415-0.052-0.628-0.06c-0.213,0.01-0.412,0.06-0.628,0.06
                            c-5.729,0-10.374-4.645-10.374-10.374V62.249c0-5.729,4.645-10.374,10.374-10.374s10.374,4.645,10.374,10.374v95.527h54.47
                            c5.729,0,10.374,4.645,10.374,10.374C225.212,173.879,220.571,178.524,214.842,178.524z"/>
                    </g>
                </g>
                </svg>

                <span class="menu-link">Time Punches</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/home/ViewTimePunchesHistory']" routerLinkActive="active">
                
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M256,0c-8.291,0-15,6.709-15,15s6.709,15,15,15c124.072,0,226,101.928,226,226S380.072,482,256,482S30,380.072,30,256
                                c0-60.317,26.401-118.101,69-160.151V121c0,8.291,6.709,15,15,15s15-6.709,15-15V61c0-8.291-7.209-15-15.5-15h-60
                                c-8.291,0-15,6.709-15,15s6.709,14.9,15,14.9h22.562C28.693,123.42,0,188.33,0,256c0,140.61,115.39,256,256,256
                                s256-115.39,256-256S396.61,0,256,0z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M406,271c-8.291,0-15-6.709-15-15c0-8.291,6.709-15,15-15h14.24c-3.105-34.243-16.661-65.497-37.52-90.507l-10.047,10.047
                                c-5.863,5.863-15.352,5.863-21.213,0c-5.863-5.863-5.863-15.35,0-21.213l10.047-10.047c-25.01-20.859-56.265-34.415-90.507-37.52
                                V106c0,8.291-6.709,15-15,15c-8.291,0-15-6.709-15-15V91.76c-34.243,3.105-65.497,16.661-90.507,37.52l10.047,10.047
                                c5.863,5.863,5.863,15.35,0,21.213c-5.861,5.863-15.35,5.863-21.213,0l-10.047-10.047c-20.859,25.01-34.415,56.265-37.52,90.507
                                H106c8.291,0,15,6.709,15,15s-6.709,15-15,15H91.76c3.105,34.243,16.661,65.495,37.52,90.505l10.047-10.047
                                c5.863-5.861,15.352-5.861,21.213,0c5.863,5.863,5.863,15.352,0,21.215l-10.047,10.047c25.01,20.859,56.265,34.415,90.507,37.52
                                V406c0-8.291,6.709-15,15-15s15,6.709,15,15v14.24c34.243-3.105,65.497-16.661,90.507-37.52l-10.047-10.047
                                c-5.863-5.863-5.863-15.352,0-21.215c5.861-5.861,15.35-5.861,21.213,0l10.047,10.047c20.859-25.01,34.415-56.263,37.52-90.505
                                H406z M296.605,296.605c-5.86,5.86-15.351,5.86-21.211,0l-30-30C242.582,263.793,241,259.984,241,256v-60c0-8.291,6.709-15,15-15
                                s15,6.709,15,15v53.789l25.605,25.605C302.464,281.253,302.464,290.746,296.605,296.605z"/>
                        </g>
                    </g>
                    </svg>

                <span class="menu-link">Time Punches History</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/home/PayPeriod']" routerLinkActive="active">
                
                <svg height="511pt" viewBox="0 0 511.99995 511" width="511pt" xmlns="http://www.w3.org/2000/svg"><path d="m255.839844 215.894531c8.273437 0 15 6.722657 15 15 0 8.289063 6.707031 15 15 15 8.289062 0 15-6.710937 15-15 0-19.46875-12.5-35.929687-29.839844-42.1875v-22.207031c0-8.292969-6.710938-15-15-15s-15 6.707031-15 15v22.109375c-17.503906 6.164063-30.160156 22.695313-30.160156 42.285156 0 24.8125 20.183594 45 45 45 8.273437 0 15 6.722657 15 15 0 8.273438-6.726563 15-15 15-8.277344 0-15-6.726562-15-15 0-8.292969-6.710938-15-15-15-8.292969 0-15 6.707031-15 15 0 19.585938 12.65625 36.117188 30.160156 42.285157v13.320312c0 8.289062 6.710938 15 15 15s15-6.710938 15-15v-13.421875c17.339844-6.257813 29.839844-22.714844 29.839844-42.1875 0-24.8125-20.1875-45-45-45-8.277344 0-15-6.722656-15-15 0-8.273437 6.722656-14.996094 15-14.996094zm0 0"/><path d="m396.375 410.234375-16.742188-25.105469c-5.023437-7.503906-15.644531-9.054687-22.589843-2.769531-27.667969 25.238281-63.558594 39.140625-101.042969 39.140625 0-3.019531 0-18.003906 0-14.980469 0-11.148437-11.734375-18.402343-21.707031-13.417969l-75 44.984376c-11.054688 5.527343-11.054688 21.300781 0 26.832031l75 45.976562c9.972656 4.988281 21.707031-2.261719 21.707031-13.414062 0-3.023438 0-18 0-14.980469 50.683594 0 99.609375-19.339844 137.753906-52.648438 5.683594-4.953124 6.796875-13.347656 2.621094-19.617187zm0 0"/><path d="m119.398438 234.792969-44.980469-75c-5.53125-11.058594-21.304688-11.058594-26.832031 0l-45.984376 75c-4.984374 9.972656 2.269532 21.707031 13.417969 21.707031 3.023438 0 19 0 15.980469 0 0 50.683594 18.339844 99.609375 51.648438 137.753906 4.953124 5.6875 13.351562 6.796875 19.617187 2.621094l25.121094-16.742188c7.691406-5.148437 8.90625-15.886718 2.753906-22.585937-25.238281-27.671875-39.140625-63.570313-39.140625-101.054687 3.019531 0 18 0 14.980469 0 11.152343 0 18.402343-11.726563 13.417969-21.699219zm0 0"/><path d="m154.957031 130.640625c27.667969-25.238281 63.558594-39.140625 101.042969-39.140625 0 3.019531 0 18 0 14.980469 0 11.148437 11.734375 18.402343 21.707031 13.414062l75-44.980469c11.054688-5.527343 11.054688-21.300781 0-26.832031l-75-45.980469c-9.972656-4.984374-21.707031 2.269532-21.707031 13.417969 0 3.019531 0 19.003907 0 15.980469-50.683594 0-99.609375 18.339844-137.753906 51.652344-5.683594 4.949218-6.796875 13.34375-2.621094 19.613281l16.742188 25.105469c5.097656 7.617187 15.785156 8.960937 22.589843 2.769531zm0 0"/><path d="m464.414062 353.207031 45.984376-75c4.984374-9.972656-2.269532-21.707031-13.417969-21.707031-3.023438 0-19 0-15.980469 0 0-50.683594-18.339844-99.609375-51.648438-137.753906-4.9375-5.699219-13.332031-6.824219-19.617187-2.621094l-25.105469 16.742188c-7.640625 5.113281-8.9375 15.800781-2.769531 22.589843 25.238281 27.667969 39.140625 63.558594 39.140625 101.042969-3.019531 0-18 0-14.980469 0-11.152343 0-18.402343 11.734375-13.417969 21.707031l44.980469 75c5.53125 11.054688 21.304688 11.054688 26.832031 0zm0 0"/></svg>
                <span class="menu-link">Process Payroll</span>
            </a>
        </li>
        <li>
                <a [routerLink]="['/home/employeechecks']" routerLinkActive="active">
                    <svg xmlns="http://www.w3.org/2000/svg" height="512pt" version="1.1" viewBox="-38 0 512 512.00142" width="512pt">
                        <g id="surface1">
                        <path d="M 217.996094 158.457031 C 164.203125 158.457031 120.441406 202.21875 120.441406 256.007812 C 120.441406 309.800781 164.203125 353.5625 217.996094 353.5625 C 271.785156 353.5625 315.546875 309.800781 315.546875 256.007812 C 315.546875 202.21875 271.785156 158.457031 217.996094 158.457031 Z M 275.914062 237.636719 L 206.027344 307.523438 C 203.09375 310.457031 199.246094 311.925781 195.402344 311.925781 C 191.558594 311.925781 187.714844 310.460938 184.78125 307.523438 L 158.074219 280.816406 C 152.207031 274.953125 152.207031 265.441406 158.074219 259.574219 C 163.9375 253.707031 173.449219 253.707031 179.316406 259.574219 L 195.402344 275.660156 L 254.671875 216.394531 C 260.535156 210.527344 270.046875 210.527344 275.914062 216.394531 C 281.78125 222.257812 281.78125 231.769531 275.914062 237.636719 Z M 275.914062 237.636719 " />
                        <path d="M 435.488281 138.917969 L 435.472656 138.519531 C 435.25 133.601562 435.101562 128.398438 435.011719 122.609375 C 434.59375 94.378906 412.152344 71.027344 383.917969 69.449219 C 325.050781 66.164062 279.511719 46.96875 240.601562 9.042969 L 240.269531 8.726562 C 227.578125 -2.910156 208.433594 -2.910156 195.738281 8.726562 L 195.40625 9.042969 C 156.496094 46.96875 110.957031 66.164062 52.089844 69.453125 C 23.859375 71.027344 1.414062 94.378906 0.996094 122.613281 C 0.910156 128.363281 0.757812 133.566406 0.535156 138.519531 L 0.511719 139.445312 C -0.632812 199.472656 -2.054688 274.179688 22.9375 341.988281 C 36.679688 379.277344 57.492188 411.691406 84.792969 438.335938 C 115.886719 468.679688 156.613281 492.769531 205.839844 509.933594 C 207.441406 510.492188 209.105469 510.945312 210.800781 511.285156 C 213.191406 511.761719 215.597656 512 218.003906 512 C 220.410156 512 222.820312 511.761719 225.207031 511.285156 C 226.902344 510.945312 228.578125 510.488281 230.1875 509.925781 C 279.355469 492.730469 320.039062 468.628906 351.105469 438.289062 C 378.394531 411.636719 399.207031 379.214844 412.960938 341.917969 C 438.046875 273.90625 436.628906 199.058594 435.488281 138.917969 Z M 217.996094 383.605469 C 147.636719 383.605469 90.398438 326.367188 90.398438 256.007812 C 90.398438 185.648438 147.636719 128.410156 217.996094 128.410156 C 288.351562 128.410156 345.59375 185.648438 345.59375 256.007812 C 345.59375 326.367188 288.351562 383.605469 217.996094 383.605469 Z M 217.996094 383.605469 " />
                        </g>
                        </svg>
                    <span class="menu-link">Checks</span>
                </a>
        </li>
        <li>
            <a [routerLink]="['/home/view-checks-history']" routerLinkActive="active">
                <svg xmlns="http://www.w3.org/2000/svg" height="512pt" version="1.1" viewBox="-38 0 512 512.00142" width="512pt">
                    <g id="surface1">
                    <path d="M 217.996094 158.457031 C 164.203125 158.457031 120.441406 202.21875 120.441406 256.007812 C 120.441406 309.800781 164.203125 353.5625 217.996094 353.5625 C 271.785156 353.5625 315.546875 309.800781 315.546875 256.007812 C 315.546875 202.21875 271.785156 158.457031 217.996094 158.457031 Z M 275.914062 237.636719 L 206.027344 307.523438 C 203.09375 310.457031 199.246094 311.925781 195.402344 311.925781 C 191.558594 311.925781 187.714844 310.460938 184.78125 307.523438 L 158.074219 280.816406 C 152.207031 274.953125 152.207031 265.441406 158.074219 259.574219 C 163.9375 253.707031 173.449219 253.707031 179.316406 259.574219 L 195.402344 275.660156 L 254.671875 216.394531 C 260.535156 210.527344 270.046875 210.527344 275.914062 216.394531 C 281.78125 222.257812 281.78125 231.769531 275.914062 237.636719 Z M 275.914062 237.636719 " />
                    <path d="M 435.488281 138.917969 L 435.472656 138.519531 C 435.25 133.601562 435.101562 128.398438 435.011719 122.609375 C 434.59375 94.378906 412.152344 71.027344 383.917969 69.449219 C 325.050781 66.164062 279.511719 46.96875 240.601562 9.042969 L 240.269531 8.726562 C 227.578125 -2.910156 208.433594 -2.910156 195.738281 8.726562 L 195.40625 9.042969 C 156.496094 46.96875 110.957031 66.164062 52.089844 69.453125 C 23.859375 71.027344 1.414062 94.378906 0.996094 122.613281 C 0.910156 128.363281 0.757812 133.566406 0.535156 138.519531 L 0.511719 139.445312 C -0.632812 199.472656 -2.054688 274.179688 22.9375 341.988281 C 36.679688 379.277344 57.492188 411.691406 84.792969 438.335938 C 115.886719 468.679688 156.613281 492.769531 205.839844 509.933594 C 207.441406 510.492188 209.105469 510.945312 210.800781 511.285156 C 213.191406 511.761719 215.597656 512 218.003906 512 C 220.410156 512 222.820312 511.761719 225.207031 511.285156 C 226.902344 510.945312 228.578125 510.488281 230.1875 509.925781 C 279.355469 492.730469 320.039062 468.628906 351.105469 438.289062 C 378.394531 411.636719 399.207031 379.214844 412.960938 341.917969 C 438.046875 273.90625 436.628906 199.058594 435.488281 138.917969 Z M 217.996094 383.605469 C 147.636719 383.605469 90.398438 326.367188 90.398438 256.007812 C 90.398438 185.648438 147.636719 128.410156 217.996094 128.410156 C 288.351562 128.410156 345.59375 185.648438 345.59375 256.007812 C 345.59375 326.367188 288.351562 383.605469 217.996094 383.605469 Z M 217.996094 383.605469 " />
                    </g>
                    </svg>
                <span class="menu-link">Checks History</span>
            </a>
    </li>
        <!-- <li>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27"
                    height="27" viewBox="0 0 27 27">
                    <defs>
                        <style>
                            .a,
                            .b {
                                fill: #fff;
                            }

                            .a {
                                opacity: 0;
                            }

                            .c {
                                filter: url(#a);
                            }
                        </style>
                        <filter id="a" x="0" y="0" width="27" height="27" filterUnits="userSpaceOnUse">
                            <feOffset dy="2" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="1.5" result="b" />
                            <feFlood flood-opacity="0.051" />
                            <feComposite operator="in" in2="b" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <g transform="translate(-25.5 -195.5)">
                        <g class="c" transform="matrix(1, 0, 0, 1, 25.5, 195.5)">
                            <path class="a" d="M0,0H18V18H0Z" transform="translate(4.5 2.5)" />
                        </g>
                        <g transform="translate(-60 -96)">
                            <rect class="b" width="2" height="2" transform="translate(92 296)" />
                            <rect class="b" width="2" height="2" transform="translate(92 304)" />
                            <rect class="b" width="2" height="2" transform="translate(92 300)" />
                            <rect class="b" width="2" height="2" transform="translate(92 308)" />
                            <rect class="b" width="2" height="2" transform="translate(100 296)" />
                            <rect class="b" width="2" height="2" transform="translate(100 304)" />
                            <rect class="b" width="2" height="2" transform="translate(100 300)" />
                            <rect class="b" width="2" height="2" transform="translate(100 308)" />
                            <rect class="b" width="2" height="2" transform="translate(96 296)" />
                            <rect class="b" width="2" height="2" transform="translate(96 304)" />
                            <rect class="b" width="2" height="2" transform="translate(96 300)" />
                            <rect class="b" width="2" height="2" transform="translate(96 308)" />
                            <rect class="b" width="2" height="2" transform="translate(104 296)" />
                            <rect class="b" width="2" height="2" transform="translate(104 304)" />
                            <rect class="b" width="2" height="2" transform="translate(104 300)" />
                            <rect class="b" width="2" height="2" transform="translate(104 308)" />
                        </g>
                    </g>
                </svg>
                <span class="menu-link">View Reports</span>
            </a>
        </li> -->
    </ul>
</div>