@import '../../../assets/scss/variable.scss';
.sidebar-main {
    position: fixed;
    width: 240px;
    top: 66px;
    height: calc(100% - 66px);
    background-color: $gradient-purple;
    padding: 20px 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    .sidebar-menu{
        li{
            a{
                position: relative;
                color:$white-color;
                font-size: 14px;
                padding: 14px 15px 8px;
                display: block;
                font-weight: 300;
                white-space: nowrap;
                overflow: hidden;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                    background-color: $menu-hover;
                    svg{
                        path{
                            fill:$white-color;
                        }
                    }
                }
                .menu-link{
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                transition: all ease 0.5s;
                }
                &.active{
                    opacity: 1;
                    background-color: $menu-hover;
                    svg{
                        path{
                            fill:$white-color;
                        }
                    }
                }
                svg{
                width: 26px;
                height: 26px;
                margin-right: 8px;
                path{
                    fill:#bcbccb;
                }
                }
            }
            
        }
    }
}
