<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">Employees</h1>
      <div class="title-header-right d-flex justify-con align-c">
        <div class="search">
          <input
            type="text"
            placeholder="Search Employee..."
            (keyup)="GetEmployeeListByName($event)"
          />
          <span class="search-icon"
            ><i class="fa fa-search" aria-hidden="true"></i
          ></span>
        </div>
        <a [routerLink]="['/home/add-employee']" class="add-btn"
          ><i class="fa fa-plus" aria-hidden="true"></i>ADD EMPLOYEE</a
        >
      </div>
    </div>
    <!--end of title header-->
    <div class="panel">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="EmployeeSource"
          matSort
          class="table table-striped table-cus "
          matSortDirection="asc" matSortDisableClear
        >
          <ng-container matColumnDef="EMPLOYEENAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.EMPLOYEENAME }}
            </td>
          </ng-container>
          <ng-container matColumnDef="EMPLOYEENUMBER">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Employee No.
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.EMPLOYEENUMBER }}
            </td>
          </ng-container>
          <ng-container matColumnDef="HOURLYPAYRATE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Hourly Pay Rate($)
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.HOURLYPAYRATE }}
            </td>
          </ng-container>
          <ng-container matColumnDef="JOININGDATE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Joining Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.JOININGDATE | date: "MM/dd/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="SOCSEC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Soc. Sec.</th>
            <td mat-cell *matCellDef="let element">{{ element.SOCSEC }}</td>
          </ng-container>

          <ng-container matColumnDef="ACTION">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Action
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="action-btn text-center"
            >
              <span class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <a (click)="openDialogViewEmpDetail(element.EMPLOYEEID)"
                    >View</a
                  >
                </li>
                <li>
                  <a (click)="Edit(element)">Edit</a>
                </li>

                <li>
                  <a
                    data-toggle="modal"
                    data-target="#myModal"
                    (click)="DeleteModal(element.EMPLOYEEID, $event)"
                    >Delete</a
                  >
                </li>
              </ul>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!--end of table-->
      </div>
      <div
        style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;"
        *ngIf="noData | async"
      >
        No records found
      </div>
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        (page)="pageEvent($event)"
      >
      </mat-paginator>
    </div>
    <!--end of table-->
  </div>
</div>

<!-- delete modal -->
<div class="modal custom-popup " id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <button type="button" class="close header-close" data-dismiss="modal">
          &times;
        </button>
        <h2>Are you sure?</h2>
        <p>Do you really want to delete this record?</p>
        <div class="modal-btn">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn del-btn"
            (click)="DeleteEmployee($event)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
