@import "../../../../assets/scss/variable.scss";
  .mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
         
  .mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }
  // modal style
  .custom-popup{
    .modal-dialog{
      max-width: 400px;
      text-align: center;
      width:92%;
      .icon-box{
        img{
          width:65px;
        }
      }
      h2{
      text-align: center;
      font-size: 26px;
      margin: 30px 0 -10px;
      color: #636363;
      }
      p{
      padding: 20px;
      border-radius: 5px;
      border: none;
      text-align: center;
      font-size: 14px;
      color: #999;
      }
      .modal-btn{
        button{
          min-width: 120px;
          height: 43px;
          background-color: #c1c1c1;
          color: $white-color;
          margin:0 5px;
          &.del-btn{
            background-color: #f15e5e;
          }
        }
      }
    }
  }


  .no-records {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }