
<div class="login-cover-main">
    <div class="login-container">
        <div class="login-inner">
            <h1 class="login-logo"><img src="/assets/img/logo-icon.svg" alt="logo"></h1>
            <p class="login-text">Forgot Your Password?</p>
            <div class="login-box">
                <div class="login-bocx-inner">
                    <form class="example-form" >
                            <!-- [formGroup]="LoginForm" autocomplete="off" (ngSubmit)="OnFormSubmit(LoginForm.value)" -->
                        <div class="mat-login-row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Type Your Email</mat-label>
                                <input matInput placeholder="Type Your Email" formControlName="Username">
                            </mat-form-field>
                        </div>
                        <div class="login-submit-btn">
                            <button mat-button type="submit">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>