<div class="main-content-cover">
    <div class="content-main">
        <div class="panel">
            <div class="panel-body">
                <div class="stepper-outer">
                    <h1 class="stepper-heading">Add Employee</h1>                       
                </div>  
                <mat-horizontal-stepper>
                    
                    <mat-step label="step 1">                     
                        <div class="payroll-cover">
                            <div class="step-first">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Employee Name</mat-label>
                                            <input matInput placeholder="" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Employee Id</mat-label>
                                            <input matInput placeholder="" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Gender</mat-label>
                                            <mat-select required>
                                              <mat-option>None</mat-option>
                                              <mat-option value="option1">Male</mat-option>
                                              <mat-option value="option2">Female</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <input matInput [matDatepicker]="picker" placeholder="Date of joining" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Designation</mat-label>
                                            <mat-select required>
                                              <mat-option>None</mat-option>
                                              <mat-option value="option1">Designation1</mat-option>
                                              <mat-option value="option2">Designation2</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Work Email</mat-label>
                                            <input matInput placeholder="" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Department</mat-label>
                                            <mat-select required>
                                              <mat-option>None</mat-option>
                                              <mat-option value="option1">Department1</mat-option>
                                              <mat-option value="option2">Department2</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Work Location</mat-label>
                                            <mat-select required>
                                              <mat-option>None</mat-option>
                                              <mat-option value="option1">Work Location1</mat-option>
                                              <mat-option value="option2">Work Location2</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>                        
                                </div>
                                </div>
                                <div class="mat-form-row cta-submit-btn">
                                    <button mat-button matStepperPrevious class="reset-btn">Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                        </div>
                    </mat-step>
                    <mat-step label="step 2">                   
                        <div class="payroll-cover">
                            <div class="step-second">
                                <p>2</p>
                                <div class="mat-form-row cta-submit-btn">
                                    <button mat-button matStepperPrevious class="reset-btn">Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </div>
                        </div>
                    </mat-step>

                    <mat-step label="step 3">
                      <!-- <ng-template matStepLabel>Done</ng-template> -->                      
                      <div class="payroll-cover">
                        <div class="step-thired">
                            <p>3</p>
                            <div class="mat-form-row cta-submit-btn">
                                <button mat-button matStepperPrevious class="reset-btn">Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </div>
                      </div>
                    </mat-step>
                    <mat-step label="step 4">
                        <!-- <ng-template matStepLabel>Done</ng-template> -->                      
                        <div class="payroll-cover">
                          <div class="step-fourth">
                              <p>4</p>
                              <div class="mat-form-row cta-submit-btn">
                                  <button mat-button matStepperPrevious class="reset-btn">Back</button>
                                  <button mat-button >Reset</button>
                              </div>
                          </div>
                        </div>
                      </mat-step>
                  </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>



  
