@import "../../../../assets/scss/variable.scss";
.payroll-cover{
    .mat-form-field{
        width:100%;
    }
    .cta-submit-btn {
        margin-bottom: 15px;
        .mat-button {
          width: auto;
          height: 44px;
          padding: 0px 40px;
          @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
          color: $white-color;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          @include transition(all, 0.5s, ease);
          &:hover {
            @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
          }
          &.reset-btn {
            background: $body-bg;
            color: $primary-text-color;
            margin-right: 30px;
            
          }
        }
      }
}
.stepper-heading {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}
.steper-main {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    .steper-row {
        max-width: 530px;
        margin: 0 auto;
        li{
            float: left;
            width: 25%;
            text-align: center;
            position: relative;
            span{
                display: inline-block;
                width: 35px;
                height: 35px;
                @include border-radius(100%);
                border: 1px solid $primary-text-color;
                line-height: 35px;
                background-color: $white-color;
                position: relative;
                z-index: 2;
            }
            p{
                font-size: 14px;
                margin: 8px 0 0;
            }
            &:after{
                content: '';
                position: absolute;
                height: 1px;
                background-color:$primary-text-color;
                top:16px;
                right:-50%;
                z-index: 1;
                width: 100%;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            &.active{
                p{
                    font-weight: bold;
                }
            }
        }
    }
}
.content-main{
    .panel{
        margin-top: 0;
    }
}
::ng-deep .mat-step-header.cdk-keyboard-focused, ::ng-deep .mat-step-header.cdk-program-focused, ::ng-deep .mat-step-header:hover {
    background-color: transparent;
}
::ng-deep .mat-step-header-ripple.mat-ripple{
    display: none;
}