@import "../../../assets/scss/variable.scss";
.signup-cover {
    padding: 1% 0;
}
.sign-up-left{
    h1{
        font-size: 28px;
        margin-bottom: 15px;
        img{
            width: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    p{
        font-size: 16px;
        color: $dark-b-color;
        font-weight: 300;
        &.mt-30{
            margin-bottom: 30px;
        }
    }
    ul{
        padding-left: 20px;
        li{
            list-style: disc;
            font-size: 15px;
            margin-bottom: 15px;
            font-weight: 300;
        }
    }
}
.signup-right{
    display: inline-block;
    width: 100%;
    .signup-form {
        max-width: 75%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        &:after{
            content:'';
            position: absolute;
            height: 4px;
            width:100%;
            left: 0;
            top: 0;
            background: transparent linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%) 0% 0% no-repeat padding-box;
            @include border-radius(4px 4px 0 0);
        }
        h2{
            font-size: 28px;
            font-weight: 400;
        }
        p{
            font-weight: 300;
            color:$primary-text-color;
            margin-bottom: 30px;
            font-size: 14px;
        }
    }
    .already-signup{
        text-align: center;
        margin: 15px 0;
        font-size: 14px;
    }
}
.signup-right{
    .signup-form {
        ::ng-deep .mat-form-field{
            width:100%;
            &.mat-form-field-appearance-outline{ 
                .mat-form-field-flex{
                    padding-left: 15px;
                    .mat-form-field-prefix{
                        color:$primary-text-color;
                        .mat-icon{
                            font-size: 17px;
                            position: relative;
                            top: 2px;
                            left: 0px;
                        }
                    }
                }
                &.mat-form-field-can-float{
                    &.mat-form-field-should-float{
                        .mat-form-field-label{
                            color:$gradient-pink;
                        }
                    }
                }
                &.mat-focused{
                    .mat-form-field-ripple{
                        background-color:$gradient-pink;
                    }
                }
                .mat-select-placeholder{
                    top: 2px !important;
                    position: relative;
                    color: #808080;
                    font-size: 14px;
                }
            }
        }
    }  
    .signup-btn{
        margin-bottom: 15px;
        .mat-button{
            width: 100%;
            height: 48px;
            @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
            color: $white-color;
            font-size:14px;
            font-weight: 600;
            @include transition (all, 0.5s, ease);
            cursor: pointer;
            &:hover{
                @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
            }
        }
    }  
}

.login-checkbox{
    margin-bottom: 20px;
    ::ng-deep .mat-checkbox {
        .mat-checkbox-label{
            white-space: normal;
            text-align: left;
            font-size: 14px;
        }
    }
}
.login-checkbox{
    ::ng-deep {
    .mat-checkbox-checked{
    &.mat-accent{
        .mat-checkbox-background{
            background-color: $gradient-purple;
        }
    }
    }
}
}