<div class="signup-cover">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sign-up-left">
                    <h1><img src="assets/img/payroll.svg" alt="img" >PayMaster Payroll</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="mt-30">dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <ul>
                        <li><strong>Lorem ipsum</strong>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </li>
                        <li><strong>Lorem ipsum</strong>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </li>
                        <li><strong>Lorem ipsum</strong>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </li>
                        <li><strong>Lorem ipsum</strong>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </li>
                        <li><strong>Lorem ipsum</strong>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="signup-right">
                    <div class="signup-form panel">
                        <form [formGroup]="OrganizationFrom" (ngSubmit)="OnformSubmit()" autocomplete="off" >
                            <h2>Let's get Started</h2>
                            <!-- <p>Explore all the features with a 30-day free trial</p> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Company Name</mat-label>
                                <input matInput placeholder="Company Name" formControlName="CompanyName">
                                <mat-icon matPrefix>business</mat-icon>
                                <mat-error *ngIf="OrganizationFrom.get('CompanyName').hasError('required')">
                                    Company name is required!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" matInput placeholder="Email" formControlName="CompanyEmail">
                               
                                <mat-icon matPrefix>mail_outline</mat-icon>
                                <mat-error *ngIf="OrganizationFrom.get('CompanyEmail').hasError('required')">
                                    Email is required!
                                </mat-error>
                                <mat-error *ngIf="OrganizationFrom.get('CompanyEmail').hasError('email')">
                                    Email must be a valid email address!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Contact Number</mat-label>
                                <input numeric numericType="decimal" maxlength="10" matInput placeholder="Contact Number" formControlName="CompanyContactNumber">
                                <mat-icon matPrefix>contacts</mat-icon>
                                <mat-error *ngIf="OrganizationFrom.get('CompanyContactNumber').hasError('required')">
                                    Contact Number is required!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Password" formControlName="Password">
                                <mat-icon matPrefix>lock</mat-icon>
                                <mat-error *ngIf="OrganizationFrom.get('Password').hasError('required')">
                                    Password is required!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select  formControlName="Country">
                                    <mat-option *ngFor="let list of CountryList" [value]="list.countryID">
                                    {{list.countryName}}</mat-option>

                                </mat-select>
                                <mat-error *ngIf="OrganizationFrom.get('Country').hasError('required')">
                                    Country is required!
                                </mat-error>
                                <mat-icon matPrefix>public</mat-icon>
                               
                            </mat-form-field>
                            <div class="login-checkbox">
                                <mat-checkbox>I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></mat-checkbox>
                            </div>
                            <div class="signup-btn">
                                <button mat-button type="submit">Sign Up</button>
                                <!-- <button mat-button>Sign Up</button> -->
                            </div>
                        </form>
                    </div>
                    <p class="already-signup">Already have an account? <a [routerLink]="['/signIn']" href="">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
