<div class="view-list-outer">
    <div class="container">
        <div class="main-wrapper">
            <div class="header-outer">
                <div class="header-left">
                    <img src="/assets/img/logo-icon.svg" alt="logo">
                    <h2 style="margin: 5px 0;font-size: 18px;"><strong>[PayMaster]</strong></h2>
                    <p>[309, Main street, Rednsond hill, CA 90354]</p>
                    <p>Phone: [+155585956555]</p>
                    <p>Email: [yourname@gmail.com]</p>
                    <p>Website: [paymaster.com]</p>
                </div>
                <div class="header-right">
                    <h1><span>Employee pay sub</span></h1>
                    <div class="right-box">
                        <div class="right-box-left">
                            <p>Manager: <strong>Adam olive Smith</strong></p>
                            <p>Employee Name: <strong>James william patrick</strong></p>
                            <p>Employee ID: <strong>ID_145546</strong></p>
                            <p>Period Ending: <strong>25-12-2023</strong></p>
                        </div>
                        <div class="right-box-right">
                            <p><strong>Pay Date</strong></p>
                            <p class="bg-row-main"><strong>31-12-23</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="table table-striped table-cus">

                  
                    
                    <ng-container matColumnDef="earning">
                      <th mat-header-cell *matHeaderCellDef> Earning </th>
                      <td mat-cell *matCellDef="let element"> {{element.earning}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="rate">
                      <th mat-header-cell *matHeaderCellDef> Rate </th>
                      <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="hours">
                      <th mat-header-cell *matHeaderCellDef> Hours </th>
                      <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="deduction">
                        <th mat-header-cell *matHeaderCellDef> Deduction </th>
                        <td mat-cell *matCellDef="let element"> {{element.deduction}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="tamount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.tamount}} </td>
                    </ng-container>

                   
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
            </div> -->


            <div class="table-responsive">
                <table class="table table-striped table-cus">
                    <tr>
                        <th>Earning</th>
                        <th class="text-center">Rate</th>
                        <th class="text-center">Hours</th>
                        <th class="text-center">Amount</th>
                        <th>Deductions</th>
                        <th class="text-center">Amount</th>
                    </tr>
                    <tr>
                        <td class="bg-color">Regular Pay</td>
                        <td class="text-center">$80.00</td>
                        <td class="text-center">160.00</td>
                        <td class="text-center">$12,800.00</td>
                        <td class="bg-color">Income Tax</td>
                        <td class="text-center">$500.00</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Overtime Pay</td>
                        <td class="text-center">$80.00</td>
                        <td class="text-center">160.00</td>
                        <td class="text-center">$12,800.00</td>
                        <td class="bg-color">Income Tax</td>
                        <td class="text-center">$500.00</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Holiday Pay</td>
                        <td class="text-center">$80.00</td>
                        <td class="text-center">160.00</td>
                        <td class="text-center">$12,800.00</td>
                        <td class="bg-color">Income Tax</td>
                        <td class="text-center">$500.00</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Vacation Pay</td>
                        <td class="text-center">$80.00</td>
                        <td class="text-center">160.00</td>
                        <td class="text-center">$12,800.00</td>
                        <td class="bg-color">Income Tax</td>
                        <td class="text-center">$500.00</td>
                    </tr>
                    <tr>
                        <td class="bg-color">Others</td>
                        <td class="text-center">$80.00</td>
                        <td class="text-center">160.00</td>
                        <td class="text-center">$12,800.00</td>
                        <td class="bg-color">Income Tax</td>
                        <td class="text-center">$500.00</td>
                    </tr>
                    <tr class="blank-section">
                        <td class="bg-color"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td class="bg-color"><strong>Total</strong></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"><strong>$15.220.00</strong></td>
                        <td></td>
                        <td class="text-center"><strong>$970.00</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Total Earning</strong></td>
                        <td class="bg-color"><strong>$15,220.00</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Total Deductions</strong></td>
                        <td class="bg-color"><strong>$15,220.00</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="grey-bg"><strong>Net pay</strong></td>
                        <td class="bg-color"><strong>$15,220.00</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
