<div class="main-content-cover">
    <div class="content-main">
        <div class="title-header d-flex justify-con align-c">
            <h1 class="page-title">Update Employee</h1>
            <button mat-button mat-ribble [routerLink]="['/home/employee']" type="reset" class="btn btn-primary">Back</button>
        </div>

        <div class="edit-cover-main">
            <div class="col-md-12">

                <div class="row custom-row-popup">

                    <h2 class="sub-title col-md-12">Basic Details:</h2>
                     <form class="form-section col-md-12" [formGroup]="EmployeeBasicFrom" (ngSubmit)="OnEmpformSubmit(1)" autocomplete="off">
                    <div class="cus-coverRow">
                        <div class="mat-form-row row">
                           

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Social Security</mat-label>
                                    <input readonly maxlength="9" matInput placeholder="Social Security" formControlName="Socsec" maxlength="20" />
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Socsec').hasError('required')">
                                        Social Security Number is Required!
                                    </mat-error>
                                    <!-- <mat-error *ngIf="EmployeeFrom.get('Socsec').errors?.SocsecExists">
                                        Soc sec is already Exist!
                                    </mat-error> -->
                                </mat-form-field>
                            </div>
 
                            
                            

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input maxlength="45" matInput placeholder="First Name" formControlName="FirstName" autofocus>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('FirstName').hasError('required')">
                                        First Name is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline"> 
                                    <mat-label>Middle Name</mat-label>
                                    <input maxlength="45" matInput placeholder="Middle Name" formControlName="MiddleName">
                                    <mat-error *ngIf="EmployeeBasicFrom.get('MiddleName').hasError('required')">
                                        Middle Name is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input maxlength="45" matInput placeholder="Last Name" formControlName="LastName">
                                    <mat-error *ngIf="EmployeeBasicFrom.get('LastName').hasError('required')">
                                        Last Name is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="Gender">
                                        <mat-option *ngFor="let list of GenderList" [value]="list.genderId">
                                            {{list.genderName}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Gender').hasError('required')">
                                        Gender is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Race</mat-label>
                                    <mat-select formControlName="Race">
                                        <mat-option *ngFor="let list of RaceList" [value]="list.raceId">
                                            {{list.raceName}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Race').hasError('required')">
                                        Race is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Marital Status</mat-label>
                                    <mat-select formControlName="Maritalstatus">
                                        <mat-option *ngFor="let list of MaritalList" [value]="list.maritalStatusId">
                                            {{list.maritalStatusName}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Maritalstatus').hasError('required')">
                                        Marital Status is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Birthdate</mat-label>
                                    <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                        formControlName="Birthday" [max]="maxDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Birthday').hasError('required')">
                                        Birthday Date is Required!
                                    </mat-error>
                                </mat-form-field>
                             
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Date of Joining</mat-label>
                                    <input matInput [matDatepicker]="picker1" placeholder="Date of Joining"
                                        formControlName="Hiredate" [max]="maxDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error *ngIf="EmployeeBasicFrom.get('Hiredate').hasError('required')">
                                            Date of joining is Required!
                                    </mat-error>
                                </mat-form-field>
                             
                            </div>
                            
                  
                        </div>
                    </div>


                    <div class="mat-form-row cta-submit-btn float-right">
                        <!-- <button mat-button mat-ribble [routerLink]="['/home/employee']" type="reset" class="reset-btn">Cancel</button> -->
                        <button mat-button mat-ribble type="submit">UPDATE</button>
                    </div>
                </form>
                </div>
                <div class="row custom-row-popup">

                    <h2 class="sub-title col-md-12">Personal Info:</h2>
                     <form class="form-section col-md-12" [formGroup]="EmployeePersonalFrom" (ngSubmit)="OnEmpformSubmit(3)" autocomplete="off">
                    <div class="cus-coverRow">
                        <div class="mat-form-row row">
                           

                            
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select (selectionChange)="OnCountrySelect($event)" formControlName="Country">
                                        <mat-option *ngFor="let list of CountryList" [value]="list.countryID">
                                        {{list.countryName}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="EmployeePersonalFrom.get('Country').hasError('required')">
                                        Country is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <!-- (selectionChange)="OnStateSelect($event)" -->
                                    <mat-select  formControlName="State">
                                        <mat-option *ngFor="let list of Statelist" [value]="list.stateId">
                                            {{list.stateName}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="EmployeePersonalFrom.get('State').hasError('required')">
                                        State is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input maxlength="20" matInput placeholder="City" formControlName="City">
                                    <!-- <mat-select formControlName="City">
                                        <mat-option *ngFor="let list of CityList" [value]="list.cityId">
                                            {{list.cityName}}</mat-option>

                                    </mat-select> -->
                                    <mat-error *ngIf="EmployeePersonalFrom.get('City').hasError('required')">
                                        City is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 payroll-radio">
                                <label>Head of Household</label>
                                <mat-radio-group aria-label="Select an option" formControlName="HeadOfHousehold">
                                        <mat-radio-button  value="1">Yes</mat-radio-button>
                                        <mat-radio-button  value="2">No</mat-radio-button>
                                      </mat-radio-group>
                            </div>
                            <div class="col-md-4 payroll-radio">                                                  
                                    <label>Blind</label>
                                    <mat-radio-group aria-label="Select an option" formControlName="Blind">
                                            <mat-radio-button  value="">No</mat-radio-button>
                                            <mat-radio-button  value="S">Single</mat-radio-button>
                                            <mat-radio-button  value="B">Both</mat-radio-button>
                                          </mat-radio-group>
                                </div>
                                <div class="col-md-4 payroll-radio">
                                       
                                        <label>Student</label>
                                <mat-radio-group aria-label="Select an option" formControlName="Student">
                                        <mat-radio-button  value="1">Yes</mat-radio-button>
                                        <mat-radio-button value="2">No</mat-radio-button>
                                      </mat-radio-group>
                                    </div>
                  
                        </div>
                    </div>


                    <div class="mat-form-row cta-submit-btn float-right">
                        <!-- <button mat-button mat-ribble [routerLink]="['/home/employee']" type="reset" class="reset-btn">Cancel</button> -->
                        <button mat-button mat-ribble type="submit">UPDATE</button>
                    </div>
                </form>
                </div>
                <div class="row custom-row-popup">
                    <h2 class="sub-title col-md-12">Salary Info:</h2>
                     <form class="form-section col-md-12" [formGroup]="EmployeeSalaryFrom" (ngSubmit)="OnEmpformSubmit(2)" autocomplete="off">
                    <div class="cus-coverRow">
                        <div class="mat-form-row row">
                           

                            
                            <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hourly Pay Rate</mat-label>
                                        <input numeric numericType="decimal" matInput placeholder="Hourly Pay Rate" formControlName="HourlyPayRate">
                                       
                                        <!-- <mat-select formControlName="City">
                                            <mat-option *ngFor="let list of CityList" [value]="list.cityId">
                                                {{list.cityName}}</mat-option>
    
                                        </mat-select> -->
                                        <mat-error *ngIf="EmployeeSalaryFrom.get('HourlyPayRate').hasError('required')">
                                            Hourly Pay Rate is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Hours</mat-label>
                                        <input  matInput numeric numericType="decimal" step ="0.01"   placeholder="Hours" formControlName="Hours">
                                     
                                        <mat-error *ngIf="EmployeeSalaryFrom.get('Hours').hasError('required')">
                                            Hours is Required!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                        <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Pay Frequency</mat-label>
                                    <mat-select  formControlName="PayPeriod">
                                        <mat-option *ngFor="let list of PayFrequencyList" [value]="list.periodId">
                                        {{list.periodName}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="EmployeeSalaryFrom.get('PayPeriod').hasError('required')">
                                        Pay frequency is Required!
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Income Credit</mat-label>
                                        <input maxlength="2" numeric numericType="decimal" matInput formControlName="EarnedIncomeCredit" placeholder="Income Credit">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Income Credit Children</mat-label>
                                            <input maxlength="2" numeric numericType="decimal" matInput formControlName="EarnedIncomeCreditChildren" placeholder="Income Credit Children">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Allowances</mat-label>
                                                <input maxlength="2" numeric numericType="decimal" matInput formControlName="Allowances" placeholder="Allowances">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Dependents</mat-label>
                                                    <input maxlength="2" numeric numericType="decimal" matInput formControlName="Dependents" placeholder="Dependents">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Exemptions</mat-label>
                                                        <input maxlength="2" matInput formControlName="Exemptions" placeholder="Exemptions">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Flat Fit</mat-label>
                                                            <input  numeric numericType="decimal" step ="0.01" matInput formControlName="FlatFit" placeholder="Flat Fit">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Additional Witholding Amount</mat-label>
                                                                <input  numeric numericType="decimal" step ="0.01"  matInput formControlName="AdditionalWitholdingAmount" placeholder="Additional Witholding Amount">
                                                            </mat-form-field>
                                                        </div>
                  
                        </div>
                    </div>


                    <div class="mat-form-row cta-submit-btn float-right">
                        <!-- <button mat-button mat-ribble [routerLink]="['/home/employee']" type="reset" class="reset-btn">Cancel</button> -->
                        <button mat-button mat-ribble type="submit">UPDATE</button>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
</div>