@import "../../../../assets/scss/variable.scss";

.mat-form-row {
  ::ng-deep .mat-form-field {
    width: 100%;
    &.mat-form-field-should-float {
      .mat-form-field-label {
        color: $gradient-pink;
      }
      .mat-form-field-outline-thick {
        color: $gradient-pink;
        box-shadow: 0px 4px 8px #00000014;
        border-width: 1px;
      }
    }
    &.mat-focused {
      .mat-form-field-outline-thick {
        color: $gradient-pink;
        box-shadow: 0px 4px 8px #00000014;
        border-width: 1px;
      }
    }
  }
}

.cta-submit-btn {
  margin-bottom: 15px;
  .mat-button {
    width: auto;
    height: 44px;
    padding: 0px 40px;
    @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    @include transition(all, 0.5s, ease);
    &:hover {
      @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
    }
    &.reset-btn {
      background: $body-bg;
      color: $primary-text-color;
      margin-right: 30px;
    }
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 15px;
}

.payroll-radio > label {
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  margin-right: 15px;
  font-weight: 500;
}
.payroll-radio {
  margin-bottom: 1.34375em;
  ::ng-deep .mat-radio-button{
    .mat-radio-label-content{
      font-size: 14px;
    }
  }
}