@import "../../../../assets/scss/variable.scss";

.dropdown-section{
    background-color: $white-color;
}
.panel-table{
    .table-cus{
        border-collapse: collapse;
        thead{
            tr{                
                th{
                    font-size: 14px;
                    color:$dark-b-color;
                    text-transform: capitalize;
                    font-weight: normal;
                    background-color: $white-color;
                    @include border-radius(4px);
                }
                
            }
        }
        tr{
            border-top:10px solid $body-bg;
            th{
                @include border-radius(4px);
            }
            &.dropdown-row{
                border-color:$white-color;
                background-color: $white-color;
                display: none;
                .dropdown-section{
                    background-color: $body-bg;
                }
                .p-l-r-15{
                    padding-left:20px;
                    padding-right:20px;
                    padding-top:20px;
                }
                &.show{
                    display: table-row;
                }
            }            
            table{
                width:100%;
                thead{
                    
                    tr{
                        border-top:0px;                        
                        th{
                            background-color: $body-bg;
                            text-transform: uppercase;
                            color: $dark-b-color;
                            font-weight: 500;
                        }
                    }
                }
                tr{
                    border-top:1px solid $input-border-color;
                
                .timeinput{
                    width: 108px;
                    @include border-radius(4px);
                    height: 32px;
                    border:1px solid $input-border-color;
                }
                }
            }
            td{
                border:0px;
            }
        }
    }
    .add-punch{
        width:24px;
        height:24px;
        @include linear-gradient(90deg, $gradient-pink 0%, $gradient-purple 100%);
        display: inline-block;
        @include border-radius(100%);
        color:$white-color;
        text-align: center;
        position: relative;
        cursor: pointer;
        line-height: 24px;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        margin:0 3px;
        .fa{
            font-size: 12px;
            line-height: normal;
            cursor: pointer;
        }
        &:hover{
            @include linear-gradient(-90deg, $gradient-pink 0%, $gradient-purple 100%);
        }
        &.show{
            -webkit-transform: rotate(225deg);
            -moz-transform: rotate(225deg);
            transform: rotate(225deg);
        }
    }
}

.mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }

// popup start
.bg-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    z-index: 20;
    &.slideLeft{
        right:0;
    }
}
.modal-section {
    width: 400px;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    background-color: $white-color;
    padding: 30px;
    transition: all ease-in 0.5s;
    z-index: 21;
    &.slideLeft{
        right:0;
        transition: all ease-out 0.3s;
    }
    .modal-header-main{
        width: 100%;
        display: inline-block;
        position: relative;
        padding: 0 15px;
        margin-bottom: 20px;
        p{
            float: none;
            margin-bottom: 1px;
            font-weight: 600;
            font-size: 18px;
        }
        .fa{
            position: absolute;
            cursor: pointer;
            right: 0;
            top: 0;
        }
    }
    .modal-body-main{
        height: calc(100vh - 128px);
        overflow-y: auto;
        .no-margin{
            margin: 0;
            ::ng-deep .mat-form-field{
                width:100%;
                .mat-form-field-underline{
                    height:0;
                }
            }
        }
    }
    .modal-foolte-main{
        .add-btn{
            height: 52px;
            position: absolute;
            width:100%;
            left: 0;
            bottom: 0;
            margin: 0;
            border: 0;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 14px;
            
        }
    }
}
.test{
    padding:0rem;
      vertical-align: middle; 
}
.mat-header-row{
    height:43px;
    ::ng-deep .mat-header-cell{
      padding:5px 10px;
      vertical-align: middle;
      background-color: $table-header-bg;
    }
  }
  .mat-row{
      height:43px;
    ::ng-deep .mat-cell{
      padding:5px 10px;
      vertical-align: middle;
    }
    &.example-detail-row{
        .cdk-column-expandedDetail{
            padding: 0px 5px 0px;
            border:0px;
            .mat-header-row{
                background-color: lighten($input-border-color,10%);
            }
            .mat-cell{
                // background-color: lighten($input-border-color, 20%);
                background-color: #f7f7f7;
            }
            .mat-table{
                margin-top:5px;
            }
        }
        // .mat-cell{
            
        // }
    }
  }
  tr.example-detail-row {
    height: 0;
  }
//   tr.example-element-row:not(.example-expanded-row):hover {
//     background:#777;
//   }
//   tr.example-element-row:not(.example-expanded-row):active {
//     background: #efefef;
//   }
  example-element-row td {
    border-bottom-width: 0;
  }
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
    
  ::ng-deep .mat-form-field{
  &.mat-form-field-appearance-outline{
        .mat-select-placeholder{
        font-size:14px;
        }
    }
    .mat-icon{
        width: 19px;
          .fa{
            font-size: 14px;
            top: -2px;
            position: relative;
            color: rgba(0, 0, 0, 0.6);
          }
      }
  }

.mat-header-row{
    ::ng-deep .mat-header-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
  .mat-row{
    ::ng-deep .mat-cell{
      padding:.75rem;
      vertical-align: middle;
    }
  }
         
  .mat-cell, .mat-footer-cell
  {
    font-size: 13px !important;
  }
  .title-header-right{
    ::ng-deep .mat-form-field{
      .mat-form-field-wrapper{
        padding-bottom: 0;
        .mat-form-field-outline{
          background-color: $white-color;
        }
      }
    }
  }