<div class="main-content-cover">
  <div class="content-main">
    <div class="title-header d-flex justify-con align-c">
      <h1 class="page-title">Checks History</h1>
      <div class="title-header-right d-flex justify-con align-c">
        <form
          autocomplete="off"
          class="form-section"
          [formGroup]="FilterTimePunches"
        >
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Search..</mat-label>
                <input
                  matInput
                  placeholder="Search...."
                  (keyup)="SearchingChecks($event)"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Pay Period</mat-label>
                <mat-select
                  formControlName="payPeriodId"
                  (selectionChange)="OnPayPeriodSelect($event)"
                >
                  <mat-option [value]="0">Select Pay Period</mat-option>
                  <mat-option
                    *ngFor="let list of PeriodList"
                    [value]="list.payPeriodId"
                  >
                    {{ list.payPeriodName }}</mat-option
                  >
                </mat-select>

                <!-- <mat-error *ngIf="EmployeeFrom.get('Race').hasError('required')">
                              Race is Required!
                          </mat-error> -->
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <mat-select
                  formControlName="employeeID"
                  (selectionChange)="OnEmployeeSelect($event)"
                >
                  <mat-option [value]="0">Select Employee</mat-option>
                  <mat-option
                    *ngFor="let list of employeedropdownlist"
                    [value]="list.employeeID"
                  >
                    {{ list.employeeName }}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="EmployeeFrom.get('Race').hasError('required')">
                              Race is Required!
                          </mat-error> -->
              </mat-form-field>
            </div>

            <!-- <div class="col-md-3">
                      <button class="add-btn">Search</button>
                  </div> -->
          </div>
        </form>
      </div>
    </div>
    <div class="panel-table">
      <!--end of drag drop section-->
      <div class="panel">
        <div class="table-responsive">
          <table
            mat-table
            [dataSource]="EmployeeCheckSource"
            matSort (matSortChange)="click();"
            style="width: 100%"
            multiTemplateDataRows
            class="mat-elevation-z8"
            matSortDirection="asc" matSortDisableClear
          >
          <!-- *ngIf="Isshowtabledata ==1" -->
            <ng-container
              matColumnDef="{{ column }}"
              *ngFor="let column of displayedColumns"
            >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{
                  column == "TotalDeductionAmount"
                    ? "Deduction Amt.($)"
                    : column == "StartDate"
                    ? "Start Date"
                    : column == "EmployeeName"
                    ? "Employee Name"
                    : column == "CheckNumber"
                    ? "Check No."
                    : column == "Gross"
                    ? "Gross Amt.($)"
                    : column == "Amount"
                    ? "Pay Amt.($)"
                    : column == "EndDate"
                    ? "End Date"
                    : column == "CheckDate"
                    ? "Check Date"
                    : column
                }}
              </th>

              <td mat-cell *matCellDef="let element">
                <div *ngIf="column != 'Action'">
                  {{ element[column] }}
                </div>
                <div *ngIf="column == 'Action'">
                  <span
                    matTooltip="View Tax Deduction"
                    class="add-punch"
                    (click)="onClick(element)"
                    [ngClass]="{
                      show: expanded == element,
                      hide: expanded != element
                    }"
                    ><i class="fa fa-plus" aria-hidden="true"></i
                  ></span>
                  <span
                    class="add-punch"
                    (click)="
                      openDialogViewCheckDetail(
                        element.EMPLOYEEID,
                        element.PayperiodId
                      )
                    "
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                </div>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="SubdisplayedColumns.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expanded ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="test" style="width:100%">
                    <table
                      mat-table
                      [dataSource]="EmployeeSource"
                     
                      style="width: 100%"
                    
                    >
                      <!-- <ng-container matColumnDef="Deductions">
                              <th   mat-header-cell *matHeaderCellDef>
                                Type
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.DeductionTypeName }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                            
                            <ng-container matColumnDef="Amount">
                                <th mat-header-cell *matHeaderCellDef>
                                    Amount($)
                                  </th>
                                  <td mat-cell *matCellDef="let element">
                                    {{ element.Amount }}
                                  </td>
                                  <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container> -->
                      <ng-container matColumnDef="TypeCode">
                        <th mat-header-cell *matHeaderCellDef >
                          Type
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.TypeCode }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="PayPeriodName">
                        <th mat-header-cell *matHeaderCellDef >
                          Period Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.PayPeriodName }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Number">
                        <th mat-header-cell *matHeaderCellDef >
                          Employee No.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Number }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="EmployeeName">
                        <th mat-header-cell *matHeaderCellDef >
                          Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.EmployeeName }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="SocSec">
                        <th mat-header-cell *matHeaderCellDef >
                          Soc. Sec.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.SocSec }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="CheckNumber">
                        <th mat-header-cell *matHeaderCellDef >
                          Check No.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.CheckNumber }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="HourlyRate">
                        <th mat-header-cell *matHeaderCellDef >
                          Hourly Rate($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.HourlyRate }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Hours">
                        <th mat-header-cell *matHeaderCellDef >
                          Hours
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Hours }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="HoursClock">
                        <th mat-header-cell *matHeaderCellDef>
                          Hrs Clock
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.HoursClock }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef >
                          Amount($)
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Amount }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="InDateTime">
                        <th mat-header-cell *matHeaderCellDef >
                          In Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.InDateTime }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="OutDateTime">
                        <th mat-header-cell *matHeaderCellDef >
                          Out Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.OutDateTime }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="RefereceDay">
                        <th mat-header-cell *matHeaderCellDef >
                          Day
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.RefereceDay }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ReferenceDate">
                        <th mat-header-cell *matHeaderCellDef >
                          Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.ReferenceDate }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="OvertimeMultiplier">
                        <th mat-header-cell *matHeaderCellDef>
                          Ovt.
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.OvertimeMultiplier }}
                        </td>
                      </ng-container>
                      <tr
                        mat-header-row
                        *matHeaderRowDef="SubdisplayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let element; columns: SubdisplayedColumns"
                      ></tr>
                    </table>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
            ></tr>
            <!--  [class.example-expanded-row]="expandedElement === element"
                (click)="onClick(element)" -->
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
<!-- 
          <div
            style="text-align: center;padding-top: 11px;background-color: #F3F3F3;color:#777;height: 46px;"
            *ngIf="Isshowtabledata == 2"
          >
            No records found
          </div> -->
          <mat-paginator
            [length]="totalRecords"
            [pageSize]="pageSize"
            (page)="pageEvent($event)"
          >
          </mat-paginator>
        </div>
      </div>

      <!--end of table-->
    </div>
  </div>
</div>
